<apex:page controller="candidateviewController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false" docType="HTML-5.0">
   <apex:stylesheet id="css" value="{!URLFOR($Resource.Materialize,'buscaCand/form/materialize/css/materialize.css')}" />
   <apex:includeScript value="https://code.jquery.com/jquery-3.2.1.min.js" />
   <apex:includeScript value="https://cdn.jsdelivr.net/npm/tablesorter@2.28.15/dist/js/jquery.tablesorter.combined.min.js"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
   <style>
      .menu-principal{
      background: #009688 !important;
      }
      blockquote {border:none;}
      .background{background: #009688 !important}
      .cor {background: #009688 !important}
      .error{
      margin: auto auto 20px auto;
      display: block;
      width: 50%;
      text-align: center;
      }
      .spinner{
      border-color: #009688 !important;
      }
      .ongenerate{
      pointer-events: none;
      }
      table{
      padding-left : 15px !important;
      }
      .margin-left{
      margin-left: 10px;
      }
      .btn-color{
      color: rgba(0, 150, 136, 1);
      margin-left: 20px;
      }
      #status {
      width:200px;
      height:200px;
      position:absolute;
      left:50%; 
      top:50%;  
      background-repeat:no-repeat;
      background-position:center;
      margin:-100px 0 0 -100px; 
      }
      #preloader {
      position:fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;   
      background-color: rgba(196,202,210,.75); 
      z-index:8001; 
      }
      .popup{margin-left: 0px !important; color: white; }
      .button-collapse{display: block !important;}
      .opcao{padding: 0 10px !important;}
      .padd{padding: 0 15px !important;}
      .modal-overlay{z-index: 999 !important}
      .bottom-sheet{z-index: 1000 !important; max-height: 100% !important}
      .spin-color{border-color:  white !important}
      #load{width: 18px !important; height: 18px !important;}
      .datainicial ,.datafinal{ height: 18px !important; }
      .quantidade{ height: 18px !important; margin: 25px 0 20px 0 !important; }
      .overflow{overflow-y: visible !important;}
      .tablesorter .filtered {display: none !important;}
      .filtered {display: none !important;}
      .tablesorter-filter{height: 38px !important; font-size: 14px !important;}
      .invalidate{border-bottom: none !important; pointer-events: none !important;}
      th:focus{outline: none; color: #009688 !important}
      a.left{ margin: 0 15px; }
      .palign{position: relative; top: 5px;
   </style>
   <div id="preloader">
      <div class="preloader-wrapper small active" id="status">
         <div class="spinner-layer spinner">
            <div class="circle-clipper left">
               <div class="circle"></div>
            </div>
            <div class="gap-patch">
               <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
               <div class="circle"></div>
            </div>
         </div>
      </div>
   </div>
   <apex:outputText value="{!alert}" escape="false" />
   <apex:pageBlock >
      <apex:outputPanel id="menu">
         <apex:form >
            <div class="row">
               <div class="col s12 m12 l12" id="menu">
                  <nav class="menu-principal">
                     <div class="nav-wrapper">
                        <ul class="left">
                           <li><a href="" style="pointer-events: none;"><img src="{!URLFOR($Resource.ead,'logo2.png')}" height="64" /></a></li>
                        </ul>
                        <div class="input-field right">
                           <apex:input id="search" styleClass="consulta" value="{!valorPesquisa}" type="search"/>
                           <label class="label-icon" for="search">
                           <a href="javascript:void(0)" class="busca" onclick="consultar()">
                           <i class="material-icons">search</i></a></label>
                           <i class="material-icons">close</i>
                           <apex:actionFunction action="{!consultaInscricoes}" reRender="candidatos, ausentes, pendetes, options, error, css, form, myPanel, lst" name="execute" status="loadconsulta" oncomplete="overflow()"/>
                        </div>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                           <li><a href="javascript:void(0)" title="Polo">{!polo }</a></li>
                           <li><a href="https://dvb.force.com/ead" class="flow-text">Início</a></li>
                           <li><a href="#" data-activates="slide-out" class="flow-text button-collapse">Menu</a></li>
                        </ul>
                        <ul id="slide-out" class="side-nav">
                           <li>
                              <div class="user-view">
                                 <div class="background">
                                    <img src="images/office.jpg"/>
                                 </div>
                                 <a href="javascript:void(0)"><img class="circle" src="{!URLFOR($Resource.ead,'user.ico')}"/></a>
                                 <a href="javascript:void(0)"><span class="white-text name">Bem vindo, {! $User.FirstName }</span></a>
                                 <a href="javascript:void(0)"><span class="white-text email">{! $User.Email }</span></a>
                              </div>
                           </li>
                           <li class="no-padding">
                              <ul class="collapsible collapsible-accordion">
                                 <li><a class="subheader">Filtros</a></li>
                                 <li>
                                    <a class="collapsible-header">Dias<i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapsible-body">
                                       <ul>
                                          <li>
                                             <apex:outputLink value="?date=1">Amanhã</apex:outputLink>
                                          </li>
                                          <li>
                                             <apex:outputLink value="?date=7">Próxima Semana</apex:outputLink>
                                          </li>
                                          <li>
                                             <apex:outputLink value="?date=15">Próxima Quinzena</apex:outputLink>
                                          </li>
                                          <li>
                                             <apex:outputLink value="?date=30">Próximo Mês</apex:outputLink>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>
                                 <li class="divider"></li>
                                 <li>
                                    <a class="collapsible-header">Processo<i class="material-icons">arrow_drop_down</i></a>
                                    <div class="collapsible-body">
                                       <ul>
                                          <li>
                                             <apex:outputLink value="?processo=ENEM">ENEM</apex:outputLink>
                                          </li>
                                          <li>
                                             <apex:outputLink value="?processo=agendado">Agendado</apex:outputLink>
                                          </li>
                                       </ul>
                                    </div>
                                 </li>
                                 <li class="divider"></li>
                                 <li>
                                    <a class="modal-trigger" style="padding: 0" href="#filtro" onclick="return false">
                                    Filtro Personalizado<i style="padding-left: 16px" class="material-icons">chevron_right</i>
                                    </a>
                                 </li>
                                 <li>
                                    <a style="padding: 0" href="javascript:void(0)" onclick="tabela()">
                                    Filtro Geral<i style="padding-left: 16px" class="material-icons">find_in_page</i>
                                    </a>
                                 </li>
                                 <li>
                                    <apex:outputLink styleClass="waves-effect padd" value="{!$Site.Prefix}/secur/logout.jsp"><i class="material-icons">exit_to_app</i>Logout</apex:outputLink>
                                 </li>
                              </ul>
                           </li>
                        </ul>
                        <ul id="nav-mobile" class="right" style="position: relative;top: 25px;">
                           <apex:actionStatus id="loadconsulta">
                              <apex:facet name="stop" />
                              <apex:facet name="start">
                                 <div class="preloader-wrapper small active" id="load">
                                    <div class="spinner-layer spin-color">
                                       <div class="circle-clipper left">
                                          <div class="circle"></div>
                                       </div>
                                       <div class="gap-patch">
                                          <div class="circle"></div>
                                       </div>
                                       <div class="circle-clipper right">
                                          <div class="circle"></div>
                                       </div>
                                    </div>
                                 </div>
                              </apex:facet>
                           </apex:actionStatus>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>
            <div id="filtro" class="modal modal-fixed-footer" style="z-index: 9999;">
               <div class="modal-content">
                  <div class="row">
                     <h5 class="fluid-text">Filtrar por Data</h5>
                     <div class="col s6">
                        Data inicial
                        <div class="input-field inline">
                           <apex:inputText styleClass="datainicial datepicker" value="{!dataInicial}"  id="datainicial"/>
                        </div>
                     </div>
                     <div class="col s6">
                        Data final
                        <div class="input-field inline">
                           <apex:inputText styleClass="datafinal datepicker" value="{!dataFinal}" id="datafinal"/>
                        </div>
                     </div>
                     <div class="col s12">
                        <apex:outputLabel for="fase" value="Fases" />
                        <apex:selectCheckboxes id="fase" value="{!fases}">
                           <apex:selectOption itemLabel="Inscrito" itemValue="Inscrito"/>
                           <apex:selectOption itemLabel="Reprovado" itemValue="Reprovado"/>
                           <apex:selectOption itemLabel="Ausente" itemValue="Ausente"/>
                           <apex:selectOption itemLabel="Aprovado" itemValue="Aprovado"/>
                           <apex:selectOption itemLabel="Pré-Matriculado" itemValue="Pré-Matriculado"/>
                        </apex:selectCheckboxes>
                     </div>
                     <div class="col s6">
                        <apex:outputLabel for="processos" value="Processos" />
                        <apex:selectCheckboxes id="processos" value="{!processos}">
                           <apex:selectOption itemLabel="ENEM" itemValue="ENEM"/>
                           <apex:selectOption itemLabel="Vestibular Especial" itemValue="Vestibular Especial"/>
                        </apex:selectCheckboxes>
                     </div>
                     <div class="col s4">
                        <apex:outputLabel for="contatado" value="Contatado?" />
                        <apex:selectCheckboxes id="contatado" value="{!contatados}">
                           <apex:selectOption itemLabel="Sim" itemValue="Sim"/>
                           <apex:selectOption itemLabel="Não" itemValue="Não"/>
                        </apex:selectCheckboxes>
                     </div>
                  </div>
               </div>
               <div class="modal-footer">
                  <a href="javascript:void(0)" class="modal-action waves-effect waves-green btn-flat" onclick="validardata()">Aplicar</a>
                  <apex:actionFunction action="{!aplicarFiltroPerson}" reRender="{!$Component.myPanel.form}, lst" name="filtrar" oncomplete="overflow()"/>
               </div>
            </div>
         </apex:form>
      </apex:outputPanel>
      <apex:outputPanel id="lst">
         <ul role="alert" id="page:form:error" class="col s12 chip error">
            <li>{!lstWrapper.size} registro(s) encontrado(s).</li>
         </ul>
      </apex:outputPanel>
      <apex:pageBlock >
      </apex:pageBlock>
      <apex:pageBlock id="myPanel">
      <apex:pageBlockButtons location="both">
         <apex:outputPanel id="myButtons">
            <apex:form >
               <ul class="pagination center-align">
                  <apex:commandButton action="{!Previous}" disabled="{!hasPrevious}" styleClass="material-icons left-align btn" value="chevron_left" reRender="myPanel,myButtons" style="margin: 0px 40px"/>
                  {!obj.currentPageNumber} - {!obj.totalPages}
                  <apex:commandButton action="{!Next}" disabled="{!hasNext}" styleClass="material-icons right-align btn" value="chevron_right" reRender="myPanel,myButtons" style="margin: 0px 40px"/>
               </ul>
            </apex:form>
         </apex:outputPanel>
      </apex:pageBlockButtons>
         <apex:form id="form">
            <apex:pageMessages id="theMessages" />
            <apex:pageBlockTable value="{!lstSetController}" var="user" styleClass="highlight col s12 m12 l12 bordered tablesorter" id="candidatos">
               <apex:column headerValue="CPF" title="CPF" value="{!user.oportunidade.CPF__c}" />
               <apex:column headerValue="Processo" title="Tipo de Processo Seletivo" value="{!user.oportunidade.TipoProcesso__c}" />
               <apex:column headerValue="Nome" title="Nome" value="{!user.oportunidade.Name}"/>
               <apex:column headerValue="Fase" title="Fase" value="{!user.oportunidade.StageName__c}"/>
               <apex:column headerValue="Bolsa" title="Status da Bolsa">
                  <apex:outputText value="Bolsa Selecionada" rendered="{!user.oportunidade.Bolsa__c != null}" />
                  <apex:outputText value="Sem bolsa" rendered="{!user.oportunidade.Bolsa__c == null}" />
               </apex:column>
               <apex:column headerValue="Matrícula" title="Status Matrícula" value="{!user.oportunidade.SituacaoMatricula__c}" />
               <apex:column headerValue="Data de Agendamento">
                  <apex:outputText value="{0, date, dd/MM/yyyy}">
                     <apex:param value="{!user.oportunidade.DiaProva__c}" />
                  </apex:outputText>
               </apex:column>
               <apex:column headerValue="Contatado?" title="Contatado" value="{!user.oportunidade.StatusContato__c}" />
               <apex:column headerValue="Celular" title="Celular" value="{!user.oportunidade.Celular__c}"/>
               <apex:column headerValue="Opções" id="options">
                                            <a class="waves-effect waves-light btn modal-trigger opcao" title="Opções do Candidato" href="/ead/candidate?id={!user.oportunidade.Id}" target="_blank">
                  <i class="material-icons">apps</i></a>
                  <apex:outputText escape="true" rendered="{!IF(user.oportunidade.Agendamentos__c < 3  && user.oportunidade.TipoProcesso__c != 'ENEM', true, false)}">
                     <a class="waves-effect waves-light btn modal-trigger opcao" href="http://testes-devrybrasil.cs96.force.com/vestibular/reagendamentoAntigo?id={!user.dopp}"
                        title="Reagendar" target="_blank">
                     <i class="material-icons">history</i></a>
                  </apex:outputText>
               </apex:column>
            </apex:pageBlockTable>







            <!--
            <div id="modal1" class="modal bottom-sheet" style="z-index: 1000; max-height: 100%">
               <div class="modal-content">
                  <!--<apex:actionFunction action="{!pendentes}" reRender="pendetes" immediate="true" name="pe" />
                  <apex:pageBlock rendered="{!pendentes > 0}" id="pendetes">
                     <h4 class="flow-text" style="margin-top: 20px;">Candidatos Pendentes</h4>
                     <apex:pageBlockTable value="{!lstSetControllerP}" var="user" styleClass="highlight col s12 m12 l12 bordered">
                        <apex:column headerValue="CPF" title="CPF" value="{!user.oportunidade.CPF__c}" />
                        <apex:column headerValue="Processo" title="Tipo de Processo Seletivo" value="{!user.oportunidade.TipoProcesso__c}" />
                        <apex:column headerValue="Nome" title="Nome" value="{!user.oportunidade.Name}"/>
                        <apex:column headerValue="Fase" title="Fase" value="{!user.oportunidade.StageName__c}"/>
                        <apex:column headerValue="Bolsa" title="Status da Bolsa">
                           <apex:outputText value="Bolsa Selecionada" rendered="{!user.oportunidade.Bolsa__c != null}" />
                           <apex:outputText value="Sem bolsa" rendered="{!user.oportunidade.Bolsa__c == null}" />
                        </apex:column>
                        <apex:column headerValue="Matrícula" title="Status Matrícula" value="{!user.oportunidade.SituacaoMatricula__c}" />
                        <apex:column headerValue="Data de Agendamento">
                           <apex:outputText value="{0, date, dd/MM/yyyy}">
                              <apex:param value="{!user.oportunidade.DiaProva__c}" />
                           </apex:outputText>
                        </apex:column>
                        <apex:column headerValue="Contatado?" title="Contatado" value="{!user.oportunidade.StatusContato__c}" />
                        <apex:column headerValue="Celular" title="Celular" value="{!user.oportunidade.Celular__c}"/>
                        <apex:column headerValue="Opções" id="options">
                                            <a class="waves-effect waves-light btn modal-trigger opcao" title="Opções do Candidato" href="/ead/candidate?id={!user.oportunidade.Id}" target="_blank">
                           <i class="material-icons">apps</i></a>
                           <apex:outputText escape="true" rendered="{!IF(user.oportunidade.Agendamentos__c < 3  && user.oportunidade.TipoProcesso__c != 'ENEM', true, false)}">
                              <a class="waves-effect waves-light btn modal-trigger opcao" href="http://devrybrasil.force.com/vestibular/reagendamento?id={!user.dopp}"
                                 title="Reagendar" target="_blank">
                              <i class="material-icons">history</i></a>
                           </apex:outputText>
                        </apex:column>
                     </apex:pageBlockTable>
                  </apex:pageBlock>
                  <apex:pageBlock rendered="{!pendentes == 0}">
                     <h1 class="flow-text" style="color: forestgreen; text-align: center; padding-top: 20px;">Não há pendências, Parabéns! <i class="material-icons">check_circle</i> </h1>
                  </apex:pageBlock>
               </div>
               <div class="modal-footer">
                  <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat" onclick="return false">Fechar</a>
               </div>
            </div>
            <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
               <a class="btn-floating btn-large cor modal-trigger" href="#modal1" onclick="pe();$('.btn-floating').removeAttr('onclick').attr('onclick','return false');">
               <i class="material-icons">mode_edit</i>
               </a>
            </div>

         -->
            <script>
               $(window).on('load', function() { 
                 $('#status').fadeOut(); 
                 $('#preloader').delay(350).fadeOut('slow');  
               });
                $(document).ready( function(){
                 $('.pbTitle').remove();
                 $('.tooltipped').tooltip({delay: 50});
               
                 $('.modal').modal();
                 $(".button-collapse").sideNav();
                 $('select').material_select();
                 $('.button-collapse').sideNav({
                   menuWidth: 300, // Default is 300
                   edge: 'left', // Choose the horizontal origin
                   closeOnClick: true, // Closes side-nav on <a> clicks, useful for Angular/Meteor
                   draggable: true,
                   onOpen: function(el) { }
                   });
                
                 $('.dropdown-button').dropdown({
                     inDuration: 500,
                     outDuration: 225,
                     constrainWidth: false, // Does not change width of dropdown to that of the activator
                     hover: false, // Activate on hover
                     gutter: 0, // Spacing from edge
                     belowOrigin: false, // Displays dropdown below the button
                     alignment: 'left', // Displays dropdown with edge aligned to the left of button
                     stopPropagation: false // Stops event propagation
                   }
                 );
                 $('.datepicker').pickadate({
                   selectMonths: false, // Creates a dropdown to control month
                   selectYears: 2, // Creates a dropdown of 15 years to control year,
                   today: 'Today',
                   clear: 'Clear',
                   close: 'Ok',
                   closeOnSelect: false, // Close upon selecting a date,
                   format : 'dd/mm/yyyy',
                   monthsFull: ['Janeiro', 'Fevereiro', 'Março', 'Abril', 'Maio', 'Junho', 'Julho', 'Agosto', 'Setembro', 'Outubro', 'Novembro', 'Dezembro'],
                   monthsShort: ['Jan', 'Fev', 'Mar', 'Abr', 'Ma', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez'],
                   weekdaysFull: ['Domingo', 'Segunda', 'Terça', 'Quarta', 'Quinta', 'Sexta', 'Sábado'],
                   weekdaysShort: ['Dom', 'Seg', 'Ter', 'Qua', 'Qui', 'Sex', 'Sab'],
                   close : 'Fechar',
                   clear : 'Limpar',
                   today : 'Hoje',
                   hiddenName: true
                 });
                });
                
                function reload(){
                 location.reload();
                }
                function consultar() {
                 if($('.consulta').val() == ''){
                    Materialize.toast('Digite um valor.', 3000);
                      $('.consulta').focus();
                   return false;
                 }
                
                 execute();
                }
                
                   $(".consulta").keypress(function(e) {
                    if(e.which == 13) {
                        $(".busca").click();
                        return false;
                    }
                });
                
                
                
                function GetElementFullId(idEndsWith) {
                       var objObj = $("[id$=" + idEndsWith + "]");
                       return objObj.attr('id');
                   }
               
               function overflow(){
                  $('body').addClass('overflow');
               }
               function tabela(){
                  $('table.tablesorter').tablesorter({
                     widgets: ['filter']
                  });
                  $('.tablesorter-filter').addClass('validate');
                  $('.tablesorter-filter').attr("placeholder", "Filtrar");
                  $('input[data-column="7"]').remove();
                  $('td[data-column="7"]').append('<i class="small material-icons" onclick="limpar()">clear_all</i>');
               }
               
                function limpar(){
                  $('input[data-column="0"]').val("");
                  $('input[data-column="1"]').val("");
                  $('input[data-column="2"]').val("");
                  $('input[data-column="3"]').val("");
                  $('input[data-column="4"]').val("");
                  $('input[data-column="5"]').val("");
                  $('input[data-column="6"]').val("");
                  $('input[data-column="0"]').removeClass("valid");
                  $('input[data-column="1"]').removeClass("valid");
                  $('input[data-column="2"]').removeClass("valid");
                  $('input[data-column="3"]').removeClass("valid");
                  $('input[data-column="4"]').removeClass("valid");
                  $('input[data-column="5"]').removeClass("valid");
                  $('input[data-column="6"]').removeClass("valid");
               }
                  $('select.canal').on('change', function() {
                     document.getElementById("{!$Component.form.canal}").value = ( this.value );
                  });
                  $('select.contato').on('change', function() {
                     document.getElementById("{!$Component.form.contato}").value = ( this.value );
                  });
                  $('select.bolsa').on('change', function() {
                     document.getElementById("{!$Component.form.bolsa}").value = ( this.value );
                  });
                  $( 'input.materialize-textarea' ).keypress(function() {
                     document.getElementById("{!$Component.form.descricao}").value = ( this.value );
                  });
               
               function validardata(){
                  if(($('.datainicial').val() != '') || ($('.datafinal').val() != '')){
                     if(($('.datainicial').val() != '') && ($('.datafinal').val() == '')){
                        Materialize.toast('Data final precisa ser preenchida.', 3000);
                        $('.datafinal').focus();
                        return false;
                     }
                     if(($('.datainicial').val() == '') && ($('.datafinal').val() != '')){
                        Materialize.toast('Data inicial precisa ser preenchida.', 3000);
                        $('.datainicial').focus();
                        return false;
                     }
                  }
                     if(($('.datainicial').val() == '') && ($('.datafinal').val() == '')){
                        $('.datainicial').val(' ');
                        $('.datafinal').val(' ');
                     }
               
                     filtrar();
               }
            </script>
         </apex:form>
      </apex:pageBlock>
   </apex:pageBlock>
</apex:page>