<apex:page standardController="Oportunidade_EAD__c" extensions="CandidateController" showHeader="false" sidebar="false" cache="false" standardStylesheets="false" docType="HTML-5.0">
   <apex:stylesheet id="css" value="{!URLFOR($Resource.Materialize,'buscaCand/form/materialize/css/materialize.css')}" />
   <apex:includeScript value="https://code.jquery.com/jquery-3.2.1.min.js" />
   <apex:includeScript value="https://cdn.jsdelivr.net/npm/tablesorter@2.28.15/dist/js/jquery.tablesorter.combined.min.js"/>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
   <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
   <title>{!Oportunidade_ead__c.Name}</title>
   <style>
      .menu-principal{
      background: #009688 !important;
      }
      blockquote {border:none;}
      .background{background: #009688 !important}
      .cor {background: #009688 !important}
      .error{
      margin: auto auto 20px auto;
      display: block;
      width: 50%;
      text-align: center;
      }
      .spinner{
      border-color: #009688 !important;
      }
      .ongenerate{
      pointer-events: none;
      }
      .margin-left{
      margin-left: 10px;
      }
      .btn-color{
      color: rgba(0, 150, 136, 1);
      margin-left: 20px;
      }
      #status {
      width:200px;
      height:200px;
      position:absolute;
      left:50%; 
      top:50%;  
      background-repeat:no-repeat;
      background-position:center;
      margin:-100px 0 0 -100px; 
      }
      #preloader {
      position:fixed;
      left: 0px;
      top: 0px;
      width: 100%;
      height: 100%;   
      background-color: rgba(196,202,210,.75); 
      z-index:8001; 
      }
      .popup{margin-left: 0px !important; color: white; }
      .button-collapse{display: block !important;}
      .opcao{padding: 0 10px !important;}
      .padd{padding: 0 15px !important;}
      .modal-overlay{z-index: 999 !important}
      .bottom-sheet{z-index: 1000 !important; max-height: 100% !important}
      .spin-color{border-color:  white !important}
      #load{width: 18px !important; height: 18px !important;}
      .datainicial ,.datafinal{ height: 18px !important; }
      .quantidade{ height: 18px !important; margin: 25px 0 20px 0 !important; }
      .overflow{overflow-y: visible !important;}
      .tablesorter .filtered {display: none !important;}
      .filtered {display: none !important;}
      .tablesorter-filter{height: 38px !important; font-size: 14px !important;}
      .invalidate{border-bottom: none !important; pointer-events: none !important;}
      th:focus{outline: none; color: #009688 !important}
      a.left{ margin: 0 15px; }
      .palign{position: relative; top: 5px;
   </style>
   <div id="preloader">
      <div class="preloader-wrapper small active" id="status">
         <div class="spinner-layer spinner">
            <div class="circle-clipper left">
               <div class="circle"></div>
            </div>
            <div class="gap-patch">
               <div class="circle"></div>
            </div>
            <div class="circle-clipper right">
               <div class="circle"></div>
            </div>
         </div>
      </div>
   </div>

            <div class="row">
               <div class="col s12 m12 l12" id="menu">
                  <nav class="menu-principal">
                     <div class="nav-wrapper">
                        <ul class="left">
                           <li><a href="" style="pointer-events: none;"><img src="{!URLFOR($Resource.ead,'logo2.png')}" height="64" /></a></li>
                        </ul>
                        <ul id="nav-mobile" class="left hide-on-med-and-down">
                           <li><a href="javascript:void(0)" title="Polo">{!polo}</a></li>
                           <li><a href="https://dvb.force.com/ead" class="flow-text">Início</a></li>
                        </ul>
                     </div>
                  </nav>
               </div>
            </div>

         <apex:form id="form" style="width: 75%; margin: 0 auto">
            <apex:inputHidden value="{!canal}" id="canal"/>
            <apex:inputHidden value="{!contato}" id="contato" />
            <apex:inputHidden value="{!description}" id="descricao" />
            <apex:inputHidden value="{!bolsa}" id="bolsa" />
                        <h1 class="flow-text center" style="padding-bottom: 40px">Informações do Candidato</h1>
                    <div class="col s12 m8 l8 offset-l2 offset-m2">
                        <table class="highlight bordered">
                           <tbody>
                              <apex:outputText rendered="{!IF(Oportunidade_EAD__c.Bolsa__c != null && Oportunidade_EAD__c.Bolsa__c != '', true, false)}">
                                 <tr>
                                    <td><b>Modalidade de Desconto</b></td>
                                    <td>{!Oportunidade_EAD__c.Bolsa__c}</td>
                                 </tr>
                              </apex:outputText>
                              <apex:outputText rendered="{!IF(Oportunidade_EAD__c.Bolsa__c == null || Oportunidade_EAD__c.Bolsa__c == '', true, false)}">
                                 <tr>
                                    <td><b>Modalidade de Desconto</b></td>
                                    <td>
                                       <apex:selectList id="bolsa2" styleClass="browser-default bolsa" size="1" onchange="$('#modal{!Oportunidade_EAD__c.Id}bolsa').modal('open');">
                                          <apex:selectOption itemLabel="Selecione uma Opção" itemValue=""/>
                                          <apex:selectOption itemLabel="Não possui desconto e/ou bolsa" itemValue="Não possui desconto e/ou bolsa"/>
                                          <apex:selectOption itemLabel="Promocional - EAD Unifavip (Pontualidade)" itemValue="Promocional - EAD Unifavip (Pontualidade)"/>
                                          <apex:selectOption itemLabel="Colaborador, Estagiário Polo - EAD Unifavip" itemValue="Colaborador, Estagiário Polo - EAD Unifavip"/>
                                          <apex:selectOption itemLabel="Parente Polo - EAD Unifavip" itemValue="Parente Polo - EAD Unifavip"/>
                                          <apex:selectOption itemLabel="Colaborador, Estagiário AdTalem - EAD Unifavip" itemValue="Colaborador, Estagiário AdTalem - EAD Unifavip"/>
                                          <apex:selectOption itemLabel="Parente AdTalem - EAD Unifavip" itemValue="Parente AdTalem - EAD Unifavip"/>
                                          <apex:selectOption itemLabel="Convênio Empresa" itemValue="Convênio Empresa"/>
                                       </apex:selectList>
                                    </td>
                                 </tr>
                              </apex:outputText>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.SituacaoMatricula__c != null}">
                                 <tr>
                                    <td><b>Status da Matrícula</b></td>
                                    <td>{!Oportunidade_EAD__c.SituacaoMatricula__c}</td>
                                 </tr>
                              </apex:outputPanel>
                              <tr>
                                 <td><b>Nome</b></td>
                                 <td>{!Oportunidade_EAD__c.Name}</td>
                              </tr>
                              <tr>
                                 <td><b>Email</b></td>
                                 <td>{!Oportunidade_EAD__c.Email__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Celular</b></td>
                                 <td>{!Oportunidade_EAD__c.Celular__c}</td>
                              </tr>
                              <tr>
                                 <td><b>CPF</b></td>
                                 <td>{!Oportunidade_EAD__c.CPF__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Sexo</b></td>
                                 <td>{!Oportunidade_EAD__c.Sexo__c}</td>
                              </tr>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.Data_de_Nascimento__c != null}">
                                 <tr>
                                    <td><b>Data de Nascimento</b></td>
                                    <td>
                                       <apex:outputText value="{0, date, dd/MM/yyyy}">
                                          <apex:param value="{!Oportunidade_EAD__c.Data_de_Nascimento__c}" />
                                       </apex:outputText>
                                    </td>
                                 </tr>
                              </apex:outputPanel>
                              <tr>
                                 <td><b>Cidade</b></td>
                                 <td>{!Oportunidade_EAD__c.Cidade__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Estado</b></td>
                                 <td>{!Oportunidade_EAD__c.Estado__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Polo</b></td>
                                 <td>{!Oportunidade_EAD__c.Polo__r.Name}</td>
                              </tr>
                              <tr>
                                 <td><b>Curso</b></td>
                                 <td>{!Oportunidade_EAD__c.Curso__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Necessidade Especial?</b></td>
                                 <td>{!Oportunidade_EAD__c.CandidatoPNE__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Recurso para prova?</b></td>
                                 <td>{!Oportunidade_EAD__c.RecursoProva__c}</td>
                              </tr>
                              <tr>
                                 <td><b>Tipo de Processo</b></td>
                                 <td>{!Oportunidade_EAD__c.TipoProcesso__c}</td>
                              </tr>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.TipoProcesso__c == 'Vestibular Especial'}">
                                 <tr>
                                    <td><b>Dia da prova</b></td>
                                    <td>
                                       <apex:outputText value="{0, date, dd/MM/yyyy}">
                                          <apex:param value="{!Oportunidade_EAD__c.DiaProva__c}" />
                                       </apex:outputText>
                                    </td>
                                 </tr>
                                 <tr>
                                    <td><b>Hora da prova</b></td>
                                    <td>{!Oportunidade_EAD__c.HoraProva__c}</td>
                                 </tr>
                              </apex:outputPanel>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.TipoProcesso__c == 'ENEM'}">
                                 <tr>
                                    <td><b>Ano do ENEM</b></td>
                                    <td>{!Oportunidade_EAD__c.AnoProvaENEM__c}</td>
                                 </tr>
                                 <tr>
                                    <td><b>Nota do ENEM</b></td>
                                    <td>{!Oportunidade_EAD__c.QualNotaMediaENEM__c}</td>
                                 </tr>
                              </apex:outputPanel>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.Nota__c != null}">
                                 <tr>
                                    <td><b>Nota</b></td>
                                    <td>{!Oportunidade_EAD__c.Nota__c}</td>
                                 </tr>
                              </apex:outputPanel>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.NumeroInscricao__c != null}">
                                 <tr>
                                    <td><b>N° Inscrição</b></td>
                                    <td>{!Oportunidade_EAD__c.NumeroInscricao__c}</td>
                                 </tr>
                              </apex:outputPanel>
                              <tr>
                                 <td><b>Fase</b></td>
                                 <td>{!Oportunidade_EAD__c.StageName__c}</td>
                              </tr>
                              <apex:outputPanel rendered="{!Oportunidade_EAD__c.Presente__c}">
                                 <tr>
                                    <td><b>Usuário Evolucional</b></td>
                                    <td>{!Oportunidade_EAD__c.Email__c}</td>
                                 </tr>
                                 <tr>
                                    <td><b>Senha</b></td>
                                    <td>{!Senha}</td>
                                 </tr>
                              </apex:outputPanel>
                           </tbody>
                        </table>
                    </div>
                <div class="col s8 l8 m8 b" style="text-align: center; padding: 60px">
                    <apex:outputLink styleClass="waves-effect waves-light btn modal-trigger" value="#modal{!Oportunidade_EAD__c.Id}presenca"
                       rendered="{!IF(!Oportunidade_EAD__c.Presente__c && Oportunidade_EAD__c.TipoProcesso__c != 'ENEM', true, false)}">Presença</apex:outputLink>
                    <apex:outputLink styleClass="waves-effect waves-light btn modal-trigger" value="#modal{!Oportunidade_EAD__c.Id}prova"
                       rendered="{!IF(Oportunidade_EAD__c.Presente__c && Oportunidade_EAD__c.TipoProcesso__c != 'ENEM', true, false)}">Resultado</apex:outputLink>
                    <apex:outputLink styleClass="waves-effect waves-light btn modal-trigger" value="#modal{!Oportunidade_EAD__c.Id}atividade">Atividade</apex:outputLink>
                </div>
                <style>
                div.b>a{margin: 0 20px;}
                </style>
                        <script>$('.modal').modal();</script>
                  <div id="modal{!Oportunidade_EAD__c.Id}atividade" class="modal modal-fixed-footer">
                     <div class="modal-content">
                        <div class="row">
                           <form class="col s12">
                              <div class="row">
                                 <div class="col s6">
                                    <apex:outputLabel for="contato">Obteve Contato?</apex:outputLabel>
                                    <apex:selectList id="contato2" styleClass="browser-default contato" size="1">
                                       <apex:selectOption itemLabel="-- Nenhum --" itemValue=""/>
                                       <apex:selectOption itemLabel="Sim" itemValue="Sim"/>
                                       <apex:selectOption itemLabel="Caixa Postal" itemValue="Caixa Postal"/>
                                       <apex:selectOption itemLabel="Não Atende" itemValue="Não Atende"/>
                                       <apex:selectOption itemLabel="Não se Encontra" itemValue="Não se Encontra"/>
                                       <apex:selectOption itemLabel="Reagendou" itemValue="Reagendou"/>
                                       <apex:selectOption itemLabel="Número Errado" itemValue="Número Errado"/>
                                    </apex:selectList>
                                 </div>
                                 <div class="col s6">
                                    <apex:outputLabel for="canal">Canal de contato</apex:outputLabel>
                                    <apex:selectList id="canal2"  styleClass="browser-default canal" size="1">
                                       <apex:selectOption itemLabel="-- Nenhum --" itemValue=""/>
                                       <apex:selectOption itemLabel="Phone" itemValue="Phone"/>
                                       <apex:selectOption itemLabel="E-mail" itemValue="E-mail"/>
                                       <apex:selectOption itemLabel="Face" itemValue="Face"/>
                                       <apex:selectOption itemLabel="Skype" itemValue="Skype"/>
                                    </apex:selectList>
                                 </div>
                              </div>
                              <div class="row">
                                 <div class="input-field col s12">
                                    <apex:inputText styleClass="materialize-textarea" id="desc" value="{!description}"/>
                                    <apex:outputLabel for="desc">Descrição</apex:outputLabel>
                                 </div>
                              </div>
                           </form>
                        </div>
                     </div>
                     <div class="modal-footer">
                        <apex:commandLink styleClass="modal-action waves-effect waves-green btn-flat btn-color" action="{!createTask}" value="Enviar" oncomplete="location.reload()">
                           <apex:param name="optask" id="optask" value="{!Oportunidade_EAD__c.Id}" />
                        </apex:commandLink>
                        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Cancelar</a>
                     </div>
                  </div>
                  <div id="modal{!Oportunidade_EAD__c.Id}presenca" class="modal">
                     <div class="modal-content">
                        Confirmar presença? &emsp;
                        <apex:commandLink action="{!insertQueue}" value="Sim" styleClass="btn btn-primary" title="Confirmar presença" status="pleasewait" reRender="form" oncomplete="location.reload()" >
                           <apex:param name="oportunidade" value="{!Oportunidade_EAD__c.Id}" />
                        </apex:commandLink>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Não</a>
                        <apex:actionStatus id="pleasewait">
                           <apex:facet name="stop" />
                           <apex:facet name="start">
                              <br></br>
                              <div class="progress">
                                 <div class="indeterminate"></div>
                              </div>
                           </apex:facet>
                        </apex:actionStatus>
                     </div>
                  </div>
                  <div id="modal{!Oportunidade_EAD__c.Id}prova" class="modal">
                     <div class="modal-content">
                        Resultado? &emsp;
                        <apex:commandLink action="{!gerarProva}" value="Sim" styleClass="btn btn-primary" title="Confirmar presença" status="pleasewait" reRender="form" oncomplete="location.reload()" >
                           <apex:param name="oportunidade" value="{!Oportunidade_EAD__c.Id}" />
                        </apex:commandLink>
                        <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Não</a>
                     </div>
                  </div>
                  <div id="modal{!Oportunidade_EAD__c.Id}bolsa" class="modal">
                     <div class="modal-content">
                        Atribuir bolsa? &emsp;
                        <apex:commandLink action="{!atualizaNota}" styleClass="waves-effect waves-light btn" value="Sim" oncomplete="location.reload()" rendered="{!IF(Oportunidade_EAD__c.Bolsa__c == null && Oportunidade_EAD__c.Bolsa__c == '', true, false)}">
                           <apex:param name="opnota" value="{!Oportunidade_EAD__c.Id}" />
                        </apex:commandLink>
                        <a href="javascript:void(0)" class="modal-action modal-close waves-effect waves-green btn-flat">Não</a>
                     </div>
                  </div>
            <script>
               $(window).on('load', function() {
                 $('#status').fadeOut(); 
                 $('#preloader').delay(350).fadeOut('slow');  
               });
                $(document).ready( function(){
                 $('.pbTitle').remove();
               
                 $('.modal').modal();
                 $('select').material_select();
                });
                function GetElementFullId(idEndsWith) {
                       var objObj = $("[id$=" + idEndsWith + "]");
                       return objObj.attr('id');
                }
                $('select.canal').on('change', function() {
                     document.getElementById("{!$Component.form.canal}").value = ( this.value );
                  });
                  $('select.contato').on('change', function() {
                     document.getElementById("{!$Component.form.contato}").value = ( this.value );
                  });
                  $('select.bolsa').on('change', function() {
                     document.getElementById("{!$Component.form.bolsa}").value = ( this.value );
                  });
                  $( 'input.materialize-textarea' ).keypress(function() {
                     document.getElementById("{!$Component.form.descricao}").value = ( this.value );
                  });
               
              
              
            </script>
         </apex:form>
</apex:page>