<apex:page showHeader="true" sidebar="true" controller="CRA_ProvaSubstitutivaFiltrosController">
    <apex:messages id="errors">
    </apex:messages>
    <apex:outputPanel >
        <apex:form >
            <apex:pageBlock >
                <apex:pageBlockButtons >
                    <apex:commandButton action="{!gerarPDF}" value="Gerar PDF"/>
                </apex:pageBlockButtons>
                <apex:pageBlockSection columns="2">     
                    <apex:selectList label="Campus" value="{!campusValue}" size="1" multiselect="false" >
                        <apex:selectOption itemValue="" ItemLabel="-- Nenhum --"/>
                        <apex:selectOptions value="{!campusList}"/>
                    </apex:selectList>

                    <apex:selectList label="Assunto" value="{!assuntoValue}" size="1" multiselect="false" >
                        <apex:selectOption itemValue="" ItemLabel="-- Nenhum --"/>
                        <apex:selectOptions value="{!assuntoList}"/>
                    </apex:selectList>

                    <apex:inputText label="Turma" value="{!turma}"/>

                    <apex:inputText label="Período Letivo" value="{!periodo_Letivo}" />
                </apex:pageBlockSection>            
            </apex:pageBlock>
    </apex:form>
    </apex:outputPanel>
</apex:page>