<apex:page controller="CRA_ProvaSubstitutivaAtaController" standardStylesheets="false" renderAs="pdf" showHeader="false">   

	<apex:stylesheet value="{!$Resource.CRAProvaSubstitutivaCSS}"/>

    <apex:outputPanel Rendered="{!itensCaso.size!=0}">

		<table>

			<tr class="titulotr">
				<apex:variable var="imageVar" value="{!imageURL}"/>
				<td class="titulotd"><apex:image url="{!URLFOR($Resource.CRALogos, imageVar)}" width="150" height="47.8"/></td>
				<td class="titulotd">
					<p>
					<strong>{!nomeIES}</strong><br/>
					Professor: {!professor}<br/>
					Disciplina: {!disciplina}<br />
					Prova: {!assunto}
					</p>
				</td>
				<td class="tituloleft">
					<p>
					P. Letivo: {!periodo}<br />
					Turma: {!turma}<br />
					Emissão: <apex:outputText value="{0,date,dd/MM/yyyy}"><apex:param value="{!Today()}"/></apex:outputText></p>
				</td>
			</tr>

		</table>

		

		<table border="1" cellpadding="0" cellspacing="0" style="margin-top:30px;">
			<tbody>

				<tr>
					<td class="listacol1"><strong>MATRÍCULA</strong></td>
					<td class="listacol2"><strong>ALUNO</strong></td>
					<td class="listacol3"><strong>ASSINATURA</strong></td>
					<td class="listacol4"><strong>NOTA</strong></td>
				</tr>

				<apex:repeat value="{!itensCaso}" var="item">
				<tr>
					<td class="listacol1">{!item.Caso__r.Aluno__r.R_A_do_Aluno__c}</td>
					<td class="listacol2">{!item.Caso__r.Nome_exibicao_do_aluno__c}</td>
					<td class="listacol3">&nbsp;</td>
					<td class="listacol4">&nbsp;</td>
				</tr>
				</apex:repeat>

			</tbody>
		</table>

	
		<p><strong>Total de Alunos: {!itensCaso.size}</strong></p>

		<p style="text-align:center">Caso o nome do aluno não conste na relação de assinaturas, favor encaminhá-lo ao NAA - Núcleo de Atendimento ao Aluno.<br />
		Após a regularização, o aluno deverá apresentar o 'Comprovante de pagamento da Prova Substitutiva', que deverá ser anexado a este documento.</p>

		<table align="center" border="0" cellpadding="0" cellspacing="0"  >
			<tr>
				<td height="100px" style="text-align:center; vertical-align:bottom; width:33%">____________________________</td>
				<td style="text-align:center; vertical-align:bottom; width:33%">____________________________</td>
				<td style="text-align:center; vertical-align:bottom; width:33%">____________________________</td>
			</tr>
			<tr>
				<td style="text-align:center; vertical-align:top">Assinatura do Coordenador</td>
				<td style="text-align:center; vertical-align:top">Assinatura do Professor</td>
				<td style="text-align:center; vertical-align:top">Assinatura da Secretaria</td>
			</tr>
		</table>

		

		<table cellpadding="0" cellspacing="0" style="width:100%; margin-top:30px;">
			<tbody>
				<tr>
					<td colspan="2" style="text-align:center">
						{!nomeIES}<br />
						{!endereco}<br />
						CNPJ: {!cnpj}</td>
				</tr>
				<tr>
					<td style="text-align:center; width:33%">CRA - Lista prova substitutiva</td>
					<td style="text-align:center; width:33%">Usuário: {!$User.FirstName} {!$User.LastName}</td>
				</tr>
			</tbody>
		</table>

	</apex:outputPanel>

	<apex:outputPanel Rendered="{!itensCaso.size==0}">
		Não há registros de solicitações para os critérios de busca utilizados.
	</apex:outputPanel>


</apex:page>