<apex:page controller="curriculoController" showHeader="false" sidebar="false" showChat="false" tabStyle="Processo_seletivo__c">

<script type="text/javascript">
var tableToExcel = (function() {
  var uri = 'data:application/vnd.ms-excel;base64,'
    , template = '<html xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:x="urn:schemas-microsoft-com:office:excel" xmlns="http://www.w3.org/TR/REC-html40"><head><!--[if gte mso 9]><xml><x:ExcelWorkbook><x:ExcelWorksheets><x:ExcelWorksheet><x:Name>{worksheet}</x:Name><x:WorksheetOptions><x:DisplayGridlines/></x:WorksheetOptions></x:ExcelWorksheet></x:ExcelWorksheets></x:ExcelWorkbook></xml><![endif]--></head><body><table>{table}</table></body></html>'
    , base64 = function(s) { return window.btoa(unescape(encodeURIComponent(s))) }
    , format = function(s, c) { return s.replace(/{(\w+)}/g, function(m, p) { return c[p]; }) }
  return function(table, name) {
    if (!table.nodeType) table = document.getElementById(table)
    var ctx = {worksheet: name || 'Worksheet', table: table.innerHTML}
    window.location.href = uri + base64(format(template, ctx))
  }
})()
</script>
<!--<input type="button" onclick="tableToExcel('table', 'W3C Example Table')" value="Export to Excel"/>-->

    <apex:form >
     <apex:pageMessages id="msgs"/>
        <apex:pageBlock title="Relatório nova pós graduação" id="pbRelatorio">
            <apex:pageBlockSection title="Filtros" columns="1" id="pbsFiltros">
                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Selecione a Instituição" for="listaCampus"/>
                    <apex:outputPanel styleclass="requiredInput" layout="block">
                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList required="true" id="listaCampus" rendered="true" size="1" value="{!selectedCampus}" style="width: 200px" onchange="OnChange_Campus(this);">
                            <apex:selectOptions value="{!Campus}"/>
                        </apex:selectList>
                    </apex:outputPanel>
                </apex:pageBlockSectionItem>

                <apex:pageBlockSectionItem >
                    <apex:outputLabel value="Selecione o Processo" for="lstProcessoSeletivo"/>
                    <apex:outputPanel styleclass="requiredInput" layout="block">
                    <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                        <apex:selectList required="true" id="lstProcessoSeletivo" size="1" value="{!selectedSelectionProcess}" style="width: 200px" onchange="OnChange_ProcessoSeletivo(this);">
                            <apex:selectOptions value="{!options}"/>
                        </apex:selectList>

                    </apex:outputPanel>
                </apex:pageBlockSectionItem>
                
              <apex:pageBlockSectionItem >
                  <apex:outputLabel value="Selecione a Oferta" for="lstCursos"/>
                    <apex:outputPanel styleclass="requiredInput" layout="block">
                     <apex:outputPanel styleClass="requiredBlock" layout="block"/>
                  <apex:selectList required="true" id="lstCursos" size="1" value="{!selectedOferta}" style="width: 200px" onchange="OnChange_Oferta(this);">
                    <apex:selectOptions value="{!programsItems}"/>
                  </apex:selectList>
                  </apex:outputPanel>
              </apex:pageBlockSectionItem>
            </apex:pageBlockSection>
            <apex:pageBlockSection title="Relatório" rendered="{!disable = false}" columns="1" id="pbsRelatorio" >
            <apex:pageBlockSectionItem >
            <center>
            <input type="button" value="Exportar" onclick="window.open('data:application/vnd.ms-excel,' + encodeURIComponent(document.getElementById('table').outerHTML));" />
            </center>
                </apex:pageBlockSectionItem>
             <div id="table">  
                <table border="1px" width="100%">
                    <apex:repeat value="{!Inscricoes}" var="string" id="theRepeat">
                        <apex:image id="theImage" alt="Foto" url="http://www.academusportal.com.br/novaPosCurriculo.aspx?pa1={!string.Id_processo_RM__c}&pa2={!string.CPF__c}&pa3={!string.Processo_seletivo__r.Institui_o_n__r.C_digo_da_Coligada__c}" width="150" height="150"/>
                                        <apex:outputText label="Nome" value="{!string.Nome_do_Candidato__c}" id="name"/>
                                        <apex:outputText label="Sessão" value="{!string.Processo_Seletivo_Nome__c}" id="processo"/>
                                        <apex:outputText label="Graduado em" value="{!string.Graduado_no_curso_de__c}" id="graduado"/>
                                        <apex:outputText label="Instituição de Ensino" value="{!string.Na_institui_o__c}" id="ies"/>
                                        <apex:outputText label="Pós Graduado em" value="{!string.Curso_p_s_gradua_o__c}" id="curso_pos"/>
                                        <apex:outputText label="Empresa" value="{!string.Caso_sim_Qual_Empresa__c}" id="empresa"/>
                                        <apex:outputText label="Cargo" value="{!string.Cargo__c}" id="cargo"/>
                                        <apex:outputText label="Tempo no Cargo" value="{!string.Tempo_no_cargo__c}" id="tempo_cargo"/>
                                        <apex:outputText label="Experiência" value="{!string.Experi_ncia_principal_em__c}" id="exp_princ"/>
                                        <apex:outputText label="Outra Experiência" value="{!string.Outra_Experi_ncia__c}" id="outr_exp"/>
                                        <apex:outputText label="Experiência Internacional" value="{!string.Possui_experi_ncia_internacional__c}" id="expInte"/>
                                        <apex:outputText label="Conhecimento em Inglês" value="{!string.Habilidade_em_ingl_s__c}" id="ingles"/>

                                        <hr> </hr>
                    </apex:repeat>
                </table>
              </div>
            </apex:pageBlockSection>
        </apex:pageBlock>
        
        <apex:actionFunction immediate="true" name="actionCampus" action="{!OnchangeCampus}" reRender="pbRelatorio,pbsRelatorio,msgs,pbsFiltros">
            <apex:param name="parmSelectedCampus" value="xxx" />
        </apex:actionFunction>
        <apex:actionFunction immediate="true" name="actionProcessoSeletivo" action="{!OnchangeSelectionProcess}" reRender="pbRelatorio,pbsRelatorio,msgs,pbsFiltros">
            <apex:param name="parmSelectedCampus" value="xxx"/>
            <apex:param name="parmSelectedProcessoSeletivo" value="xxx"/>
        </apex:actionFunction>
        <apex:actionFunction immediate="true" name="actionOferta" action="{!OnchangeOferta}" reRender="pbRelatorio,pbsRelatorio,msgs,pbsFiltros">
            <apex:param name="parmSelectedCampus" value="xxx"/>
            <apex:param name="parmSelectedProcessoSeletivo" value="xxx"/>
            <apex:param name="parmSelectedOferta" value="xxx"/>
        </apex:actionFunction>

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>    
        <script  type="text/javascript">
            function OnChange_Campus(objCampus) 
            {
                var objProcesso = document.getElementById(GetElementFullId('lstProcessoSeletivo'));
                var objOferta = document.getElementById(GetElementFullId('lstCursos'));
                objProcesso.disabled = true;
                objOferta.disabled = true;
                objCampus.disabled = true;
                actionCampus(objCampus.value);
                return;
            }
            
            function OnChange_Oferta(objOferta) {
              var objCampus = document.getElementById(GetElementFullId('listaCampus'));
              var objProcesso = document.getElementById(GetElementFullId('lstProcessoSeletivo'));
              objCampus.disabled= true;
              objProcesso.disabled = true;
              objOferta.disabled= true;
              actionOferta(objCampus.value,objProcesso.value,objOferta.value);
              return;
            }
                
            function OnChange_ProcessoSeletivo(objProcesso) 
            {
                var objCampus = document.getElementById(GetElementFullId('listaCampus'));
                var objOferta = document.getElementById(GetElementFullId('lstCursos'));
                objOferta.disabled = true;
                objCampus.disabled= true;
                objProcesso.disabled = true;
                actionProcessoSeletivo(objCampus.value,objProcesso.value);
                return;
            }
            function GetElementFullId(idEndsWith)
            {
                var objObj = $("[id$="+idEndsWith+"]");
                return objObj.attr('id');
            }
         </script>
    </apex:form>
</apex:page>