<apex:page sidebar="false" showHeader="false" id="page1" tabStyle="Account" standardStylesheets="false" applyBodyTag="false" docType="html-5.0" standardController="Opportunity"
 extensions="FinishExtensionController">
    <link rel="icon" type="image/png" href="https://s3.amazonaws.com/public-cdn.ibmec.br/portalibmec-content/public/favicon_4.png"/>
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700"/>
    <apex:stylesheet value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap/dist/css/bootstrap.min.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assetsfichadeinscricao,'assets/css/style-ficha.css')}"/>
    <apex:stylesheet value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css')}"/>
    <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/jquery/dist/jquery.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap/dist/js/bootstrap.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap-datepicker/dist/locales/bootstrap-datepicker.pt-BR.min.js')}" />
    <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/jquery-mask-plugin/dist/jquery.mask.min.js')}" />
    <apex:pageBlock >
      <img class="align img-responsive" src="{!URLFOR($Resource.OnlineStore,'_imgs/logo_ibmec.png')}"/>
        <div class="row">
            <div class="col-md-12">
                
                <div class="final-message">
                    <h2>Inscrição realizada com sucesso</h2>
                    <p>Parabéns {!nome} {!sobrenome}, seus dados foram cadastrados com sucesso!</p>
                    <p>Temos um desconto especial para você! Estamos analisando o seu perfil, em breve um de nossos agentes entrará em contato.</p>
                </div>
            </div>
        </div>
    </apex:pageBlock>
    <style type="text/css">
        .row{
        margin: auto;
        width: 50%;
        padding: 40px;
        background-color: white;
        }
        .row h2{
        text-align: center;
        }
        img{
        	width: 40%;
        	display: block;
        	margin: 0 auto;
        }
    </style>
</apex:page>