<apex:page standardController="Aluno__c" sidebar="false">

 <apex:iframe height="300px" width="820px" scrolling="true" src="http://www.academusportal.com.br/cmdPage.aspx?cmd=NotaseFaltas&args={! Aluno__c.IdUsuario__c},{! Aluno__c.Institui_o_n__r.C_digo_da_Coligada__c}"/>
 
</apex:page>