<apex:page standardController="Opportunity" sidebar="FALSE">
  <apex:form >
  <apex:pageBlock title="Criar nova Inscrição / Oportunidade">
           <apex:commandButton action="/apex/SRM_inscricao" value="Nova Inscrição Devry"/>    
          <apex:commandButton action="/006/e?retURL=%2F006%2Fo&ent=Opportunity&nooverride=1" value="Nova Oportunidade IBMEC"/>    
           
  </apex:pageBlock>
  </apex:form>
</apex:page>