<apex:page standardController="Aluno__c">

<apex:iframe height="300px" width="820px" scrolling="true" src="http://www.academusportal.com.br/cmdPage.aspx?cmd=QuadroDeHorarioAluno&args={!Aluno__c.IdUsuario__c}"/>

</apex:page>