<apex:page sidebar="false" showHeader="false" id="page1" standardStylesheets="false" docType="html-5.0" applyBodyTag="false" standardController="Opportunity" extensions="ReagedamentoController" title="Ficha de Inscrição - EAD Damásio | Unifavip">
   <link rel="icon" type="image/png" href="https://s3.amazonaws.com/imagens.devrybrasil.edu.br/drupal-content/public/favicon.ico"/>
   <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/jquery/dist/jquery.min.js')}" />
   <apex:stylesheet value="{!URLFOR($Resource.SolCorp,'ficha/css/noty.min.css')}" />
   <apex:includeScript value="{!URLFOR($Resource.SolCorp,'ficha/js/noty.min.js')}" />
   <apex:stylesheet value="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700"/>
   <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   <apex:includeScript value="{!URLFOR($Resource.assetsfichadeinscricao,'bower_components/bootstrap/dist/js/bootstrap.min.js')}" />
   <style type="text/css">

      .message {
      background-color: rgb(255, 232, 232);
      padding: 1em;
      border: 1px solid rgb(255, 199, 199);
      margin-bottom: 2em;
      border-radius: 5px;
      }
      .errorMsg{
      color: rgb(221, 69, 69);
      display: block;
      font-size: 0.8em;
      margin-top: 5px;
      }
      .padd{
      padding-left: 0px;
      margin-top: 12px;
      }
      .confirmM3{
      background-color: #dff0d8;
      border: 1px solid #d6e9c6;
      }
      .msgCodigoSucess{
      padding: 8px; 
      font-weight: bold;
      }
      #informacao_candidate{
      padding-bottom: 3px;
      }
      #sucesso{
        margin: auto;
        margin-top: 100px;
        width: 50%;
        padding: 10px;
      }
      body, html{background: #fff !important}
      .exception{margin-bottom: 40px;}
      .app-header {
         background-color: #0141b1;
         padding: 2em;
         width: 100%;
         min-width: 100%;
         margin-bottom: 2em;
      }
     .app-header h1 {
       color: white;
       font-size: 1.6em;
       margin: 0.2em auto 1em;
     }
     .app-footer {
  margin-top: 2em;
     padding: 1.6em;
     /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9f9f9+0,ffffff+100 */
     background: #f9f9f9; /* Old browsers */
     background: -moz-linear-gradient(top, #f9f9f9 0%, #ffffff 100%); /* FF3.6-15 */
     background: -webkit-linear-gradient(top, #f9f9f9 0%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
     background: linear-gradient(to bottom, #f9f9f9 0%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
     filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9f9f9', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
   }
   .app-footer img {
     margin:0 auto;
   }
   h4{color: #0141b1}
   </style>
   <apex:form id="form">
    <apex:inputHidden value="{!horaAgend}" id="horaAgend" />
      <header class="app-header">

         <div class="container">
            <div class="col-md-3">
               <div><img class="img-responsive" src="http://inscricao.devrybrasil.edu.br/ead-damasio-unifavip/assets/logo-damasio-unifavip.png" alt=""/></div>    
            </div>
            <div class="col-md-7">
               <h1 class="text-center">Formulário de Agendamento - EAD Damásio | Unifavip</h1>    
            </div>
            <div class="col-md-2">
               <!--<button type="button" class="btn btn-warning btn-block" data-toggle="modal" data-target="#modal-consulta"><span class="glyphicon glyphicon-search"></span> Consultar Inscrição</button>-->
            </div>
            </div>

      </header>
      <div class="container">
      <apex:pageBlock rendered="{!if(execute == false, true,false)}">
         <div class="row" id="informacao_candidate">
            <div class="col-md-12">
               <apex:pageMessages />
               <h4>Informações dos Candidatos</h4>
               <table class="table table-hover  ">
                  <tbody>
                     <tr>
                        <td><b>Nome</b></td>
                        <td>{!nome}</td>
                     </tr>
                     <tr>
                        <td><b>CPF</b></td>
                        <td>{!cpf}</td>
                     </tr>
                     <tr>
                        <td><b>Polo</b></td>
                        <td>{!polo}</td>
                     </tr>
                     <tr>
                        <td><b>Número de Inscrição</b></td>
                        <td>{!nInscricao}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
         </div>
         <apex:outputPanel rendered="{!IF(excedeReagendamento == true , false , true)}"> 
         <div class="row" id="agendamento">
            <div class="col-md-12">
               <apex:outputText rendered="{!numeroAgendamento.size == 0}"><h4>Faça aqui seu Agendamento</h4></apex:outputText>
               <apex:outputText rendered="{!numeroAgendamento.size > 1}"><h4>Faça aqui seu Reagendamento</h4></apex:outputText>
            </div>
         </div>
         <div class="form-section-content" style="padding-bottom: 25px ">
              <div class="row">
               <div class="col-md-6 required">
                  <apex:outputLabel value="Data do Agendamento" for="data" />
                  <apex:selectList styleClass="form-control data" id="data" size="1" value="{!dia}" onchange="desativaHora()">
                     <apex:selectOption itemLabel="Selecione..." itemValue="" />
                     <apex:selectOptions value="{!diaOptions}"  />
                  </apex:selectList>
               </div>
               <apex:actionFunction action="{!getListHour}" name="hora" reRender="horaRend" oncomplete="ativaHora()">
                     <apex:param name="vdata" value="{!dia}" id="vdata"/>
               </apex:actionFunction>
               <div class="col-md-6 required">

                  <apex:outputLabel value="Horário do Agendamento" for="horario"/>
                  <apex:selectList styleClass="form-control hora"  id="horaRend" size="1" disabled="true" onchange="horafinal()">
                     <apex:selectOption itemLabel="Selecione..." itemValue=""/>
                     <apex:selectOptions value="{!horaOptions}" />
                  </apex:selectList>
            
               </div>
            </div>
         </div>
         <div class="row">
            <div class="col-md-12 text-center">
                <a id="save" class="btn btn-lg btn-success btn-block" onclick="valida_agend()">Finalizar Agendamento</a>               
            </div>
         </div>
           <apex:outputText value="{!callfunc}" escape="false"></apex:outputText>
         <apex:actionFunction action="{!populaOportunidadeEad}" name="agendar" reRender="form"/>
         </apex:outputPanel>
      </apex:pageBlock>

      <apex:pageBlock rendered="{!if(execute == true, true,false)}">
         <div class="row" id="sucesso">
            <div class="col-md-12 text-center">
               <div>
                  <h4>Agendamento Realizado com Sucesso</h4>
                     <p>Agradecemos seu interesse no Curso de Graduação à Distância Damásio UNIFAVIP.</p>
                     <p>Estude com o padrão de qualidade internacional de um dos maiores grupos de educação do mundo e conte com cursos projetados a partir de competências relevantes ao mercado global e com aplicação prática do conhecimento adquirido. Conecte-se ao mundo e torne-se referência em sua área de atuação.</p>
                     <p>Nosso setor de Atendimento irá entrar em contato com você em breve para informar os próximos passos necessários para você começar de maneira certa essa nova etapa da sua vida profissional!</p>                                                          
               </div>
            </div>
         </div>
      </apex:pageBlock>
      <apex:pageBlock rendered="{!if(excedeReagendamento == true, true,false)}">
         <div class="row">
            <div class="col-md-12 text-center">
               <div class="exception">
                  <h4>Você excedeu o limite de reagendamentos</h4>
               </div>
            </div>
         </div>
      </apex:pageBlock>
      </div>

      <footer class="app-footer">
         <p class="text-center">
            <a href="https://www.devrybrasil.edu.br/ead-damasio-unifavip" target="_blank">
               <img class="img-responsive" src="https://s3.amazonaws.com/imagens.devrybrasil.edu.br/drupal-content/public/devry-logo-simples-2_0.png" alt="DeVry Brasil"/>
            </a>
         </p>
      </footer>
    <script type="text/javascript" language="javascript">

         function generate(type, text) {
            var n = noty({
            text: text,
            type: type,
            dismissQueue: true,
            progressBar: true,
            timeout: 3000,
            layout: 'center',
            closeWith: ['click'],
            theme: 'relax',
            maxVisible: 10,
            animation: {
            open: 'animated bounceInLeft',
            close: 'animated bounceOutRight',
            easing: 'swing',
            speed: 500
            }
         });        
         return n;
         }
         function valida_agend(){
           if($('.data').val() == ''){
             generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Por favor, preencha o campo Data do Agendamento.</div></div>');
               return false
           }
           if($('.hora').val() == ''){
             generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Por favor, preencha o campo Hora do Agendamento.</div></div>');
               return false
           }
           agendar();
         }

         function desativaHora(){
          if($('.data').val() == '' ){
              $('.hora').attr('disabled', true);
          }else{
            hora();
          }
         }

         function ativaHora(){
            $('.hora').attr('disabled', false);
         }

         function GetElementFullId(idEndsWith) {
        var objObj = $("[id$=" + idEndsWith + "]");
        return objObj.attr('id');
      } 
          function horafinal(){
            document.getElementById(GetElementFullId('horaAgend')).value = $('select.hora').val();
          }
      </script>
   </apex:form>
         
</apex:page>