<apex:page showHeader="false" sidebar="false" standardController="Queue__c" extensions="ReprocessarQueueController" action="{!execute}">

	<apex:form >
		<apex:pageBlock >
			<apex:pageMessage summary="Fila reenviada com sucesso!" severity="confirm" strength="3" />
		</apex:pageBlock>	
	</apex:form>
	
</apex:page>