<apex:page controller="SolCorpController" sidebar="false" showHeader="false" id="page1" tabStyle="Account" language="{!pageLanguage}" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">
  <head>
      <title>Ficha
      </title>
      <meta charset="utf-8"/>
      <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" />
      <apex:stylesheet value="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/build/css/bootstrap-datetimepicker.css" />
     
      <apex:stylesheet value="{!URLFOR($Resource.SolCorp,'ficha/css/noty.min.css')}" />
      <apex:stylesheet value="{!URLFOR($Resource.SolCorp,'ficha/css/style.css')}" />
      
      <apex:includeScript value="https://code.jquery.com/jquery-2.1.1.min.js" />
      <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js" />
      <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js" />
      <apex:includeScript value="https://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/e8bddc60e73c1ec2475f827be36e1957af72e2ea/src/js/bootstrap-datetimepicker.js" />
     
      <apex:includeScript value="{!URLFOR($Resource.SolCorp,'ficha/js/mask.min.js')}" />
      <apex:includeScript value="{!URLFOR($Resource.SolCorp,'ficha/js/noty.min.js')}" />

   </head>
    
   <body>
   
   <div id="preloader">
      <div id="status"></div>
   </div>

   <h1 class="title">Ficha de Inscrição - Soluções Corporativas</h1>
      <div class="container" id="container">
         <div class="row">
            <div class="col-md-3 col-sm-3" id="sidebar">
               <h4>Processo de Seleção</h4>
               <h5 class="selected">1. Preenchimento da ficha de inscrição.</h5>
               <h5>2. Agendamento para entrega de documentos.</h5>
               <h5>3. Efetivação de Matrícula.</h5>
            </div>
            <div class="col-md-9 col-sm-9" id="content">
               <h1>Seleção de Curso</h1>
               <p>Selecione abaixo as informações de processo: Processo Seletivo e Curso.</p>
                <apex:form id="form">
                  <apex:inputHidden id="nome" value="{!nome}" />
                  <apex:inputHidden id="sobrenome" value="{!sobrenome}" />
                  <div class="row">
                     <div class="form-group col-lg-5">
                        <label>
                        Selecione o Processso Seletivo
                        </label>
                        <apex:selectList size="1" id="processoSeletivo" styleClass="form-control processoSeletivo" onchange="processoToOferta(this)" value="{!processo}">
                            <apex:selectOption itemLabel="Selecione" itemValue="" />
                            <apex:selectOptions value="{!processoSeletivoOptions}" />
                            <apex:actionFunction immediate="true" name="ofertas" action="{!getOferta}" reRender="curso">
                            <apex:param name="processoSeletivo" value="" />
                            </apex:actionFunction>
                        </apex:selectList>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Curso
                        </label>
                        <apex:selectList size="1" id="curso" styleClass="form-control curso" value="{!curso}">
                            <apex:selectOption itemLabel="Selecione" itemValue="" />
                            <apex:selectOptions value="{!ofertaOptions}" />
                        </apex:selectList>
                     </div>
                  </div>
                  <hr/>
                  <h1>Informações Pessoais</h1>
                  <div class="row">
                     <div class="form-group col-lg-6">
                        <label>
                        Nome Completo
                        </label>
                        <input class="form-control" id="nomeCompleto" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Data de Nascimento
                        </label>
                       <!-- <apex:inputText styleClass="dataNascimento form-control" value="{!dtNasc}" />-->
                         <div class='input-group date' id='datetimepicker5'>
                              <apex:inputText styleClass="form-control" value="{!dtNasc}" id="dtNasc" />

                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Sexo
                        </label>
                        <apex:selectList styleClass="form-control sexo" size="1" id="sexo" value="{!sexo}">
                            <apex:selectOption itemValue="" itemLabel="Selecione"/>
                            <apex:selectOption itemValue="Masculino" itemLabel="Masculino"/>
                            <apex:selectOption itemValue="Feminino" itemLabel="Feminino"/>
                        </apex:selectList>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        Naturalidade
                        </label>
                        <apex:selectList styleClass="form-control naturalidade" size="1" value="{!naturalidade}">
                            <apex:selectOption itemValue="" itemLabel="Selecione" />
                            <apex:selectOptions value="{!estadoOptions}" />
                        </apex:selectList>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Nacionalidade
                        </label>
                        <apex:selectList styleClass="form-control nacionalidade" size="1" value="{!nacionalidade}">
                            <apex:selectOption itemValue="Brasil" itemLabel="Brasil" />
                            <apex:selectOptions value="{!paisOptions}" />
                            
                        </apex:selectList>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Estado Civil
                        </label>
                        <apex:selectList styleClass="form-control estadoCivil" size="1" value="{!estadoCivil}">
                        <apex:selectOption itemValue="" itemLabel="Selecione" />
                        <apex:selectOption itemValue="Solteiro" itemLabel="Solteiro" />
                        <apex:selectOption itemValue="Casado" itemLabel="Casado" />
                        <apex:selectOption itemValue="Divorciado" itemLabel="Divorciado" />
                        <apex:selectOption itemValue="Viuvo" itemLabel="Viuvo" />
                        </apex:selectList>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        CPF
                        </label>
                        <apex:inputText styleClass="form-control cpf" value="{!cpf}" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        RG
                        </label>
                        <apex:inputText styleClass="form-control rg" value="{!rg}"/>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Orgão Emissor
                        </label>
                        <apex:inputText styleClass="orgaoEmissor form-control" value="{!orgaoEmissor}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        UF 
                        </label>
                        <apex:inputText styleClass="uf form-control" value="{!uf}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Data de Emissão
                        </label>
                         <div class='input-group date' id='datetimepickerNasc'>
                           <apex:inputText styleClass="form-control" value="{!dataEmissao}" id="dataEmissao" />
                           <!--<input type='text' class="form-control" value="{!dataEmissao}" id="dataEmissao"/>-->
                            <span class="input-group-addon">
                              <span class="glyphicon glyphicon-calendar"></span>
                            </span>
                          </div>
                     </div>
             
                  </div>
                    <!--
                  <div class="row">
                     <div class="form-group col-lg-6">
                        <label class="opcional">
                        Nome da Mãe
                        </label>
                        <apex:inputText styleClass="form-control nomeMae" value="{!nomeMae}" />
                     </div>
                  </div>
                  -->
                  <hr/>

                  <h1>Informações de Contato</h1>

                  <div class="row">
                     <div class="form-group col-lg-6">
                        <label>
                        E-mail
                        </label>
                        <apex:inputText styleClass="form-control email" value="{!email}"  />
                     </div>
                     <div class="form-group col-lg-6">
                        <label>
                        Confirmar E-mail
                        </label>
                        <input class="form-control confirmarEmail" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        Celular
                        </label>
                        <apex:inputText styleClass="form-control celular" value="{!celular}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Telefone Comercial
                        </label>
                        <apex:inputText styleClass="form-control telefone" value="{!telefone}"/>
                     </div>
                     <div class="form-group col-lg-3">
                        <label class="opcional">
                        CEP *  <a style="font-size: 8px" href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank">Não sabe seu CEP?</a>
                        </label>
                        <apex:inputText styleClass="form-control cep" value="{!cep}"/>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Cidade
                        </label>
                        <apex:inputText styleClass="form-control cidade" value="{!cidade}" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        Estado
                        </label>
                        <apex:inputText styleClass="form-control estado" value="{!estado}"/>
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Bairro
                        </label>
                        <apex:inputText styleClass="form-control bairro" value="{!bairro}"/>
                     </div>
                     <div class="form-group col-lg-6">
                        <label>
                        Rua/Avenida
                        </label>
                        <apex:inputText styleClass="form-control rua" value="{!rua}"/>
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        Número
                        </label>
                        <apex:inputText styleClass="form-control numero" value="{!numero}"/>
                     </div>
                     <div class="form-group col-lg-3">
                        <label class="opcional">
                        Complemento
                        </label>
                        <apex:inputText styleClass="form-control complemento" value="{!complemento}" />
                     </div>
                  </div>

                  <hr/>
                  <h1>Formação Acadêmica</h1>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label>
                        Escolaridade
                        </label>
                        <apex:inputText styleClass="form-control escolaridade" value="{!escolaridade}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Nome da Instituição
                        </label>
                        <apex:inputText styleClass="form-control nomeIES" value="{!nomeIES}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Curso
                        </label>
                        <apex:inputText styleClass="form-control formacaoCurso" value="{!curso_um}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label>
                        Ano de Conclusão
                        </label>
                        <apex:inputText styleClass="form-control anoConclusao" value="{!ano_conclusao}" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-3">
                        <label class="opcional">  
                        Escolaridade
                        </label>
                        <apex:inputText styleClass="form-control second-escolaridade" value="{!escolaridade_dois}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label class="opcional">
                        Nome da Instituição
                        </label>
                        <apex:inputText styleClass="form-control second-nomeIES" value="{!nomeIES_dois}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label class="opcional">
                        Curso
                        </label>
                        <apex:inputText styleClass="form-control second-formacaoCurso" value="{!curso_dois}" />
                     </div>
                     <div class="form-group col-lg-3">
                        <label class="opcional">
                        Ano de Conclusão
                        </label>
                        <apex:inputText styleClass="form-control second-anoConclusao" value="{!ano_conclusao_dois}" />
                     </div>
                  </div>
                  <hr/>
                  <h1>Perfil Profissional</h1>
                  <div class="row">
                     <div class="form-group col-lg-6">
                        <label class="opcional">
                        Profissão
                        </label>
                        <apex:inputText styleClass="form-control profissao" value="{!profissao}" />
                     </div>
                     <div class="form-group col-lg-6">
                        <label class="opcional">
                        Cargo
                        </label>
                        <apex:inputText styleClass="form-control cargo" value="{!cargo}" />
                     </div>
                  </div>
                  <div class="row">
                     <div class="form-group col-lg-6">
                        <label class="opcional">
                        Nome da Empresa
                        </label>
                        <apex:inputText styleClass="form-control nomeEmpresa" value="{!empresa}" />
                     </div>
                     <div class="form-group col-lg-6">
                        <label class="opcional">
                        Tempo de experiência Profissional em anos
                        </label>
                        <apex:inputText styleClass="form-control tempoExperiencia" value="{!tempoExperiencia}" />
                     </div>
                     <apex:actionFunction name="cSaveAll" reRender="form" action="{!SaveAll}" />
                     <input type="button" style="width: 20%; margin-left: 15px; font-weight: bold; background: rgb(40,77,130); color: white" 
                     class="form-control" id="start" onclick="inscricao()" value="Inscrever" />
                  </div>
               </apex:form>
                
            </div>
         </div>
      </div>
      <style type="text/css">
         
      #status {
         width:200px;
         height:200px;
         position:absolute;
         left:50%; 
         top:50%; 
         background-image:url('{!URLFOR($Resource.SolCorp,'ficha/css/load.gif')}'); 
         background-repeat:no-repeat;
         background-position:center;
         margin:-100px 0 0 -100px; 
      }
      #preloader {
         position:fixed;
         left: 0px;
         top: 0px;
         width: 100%;
         height: 100%;   
         background-color: rgb(40,77,130); 
         z-index:8001; 
      }
      #finish{vertical-align: center; margin-top: 15%;}
      </style>
      <script type="text/javascript">
       $(function () {
                $('#datetimepicker5').datetimepicker({
                    format: 'DD/MM/YYYY',
                    defaultDate: "01/01/1990",
                    locale: 'pt-br'
                });
           $('#datetimepickerNasc').datetimepicker({
                    format: 'DD/MM/YYYY',
                    defaultDate: Date.now(),
                    locale: 'pt-br'
                });
           
            });
        $(window).on('load', function() { 
          $('#status').fadeOut(); 
          $('#preloader').delay(350).fadeOut('slow');  
          $('body').delay(350).css({'overflow':'visible'});
        });
      
      function generate(type, text) {
       var n = noty({
           text: text,
           type: type,
           dismissQueue: true,
           progressBar: true,
           timeout: 3000,
           layout: 'center',
           closeWith: ['click'],
           theme: 'relax',
           maxVisible: 10,
           animation: {
               open: 'animated bounceInLeft',
               close: 'animated bounceOutRight',
               easing: 'swing',
               speed: 500
           }
       });
       return n;
     }
     function GetElementFullId(idEndsWith) {
        var objObj = $("[id$=" + idEndsWith + "]");
        return objObj.attr('id');
    }
    function processoToOferta(objCampus){
        var processoSeletivo = document.getElementById(GetElementFullId('processoSeletivo')).value;
        if ((processoSeletivo != '-- Selecione --') || (processoSeletivo != '')) {
            ofertas(objCampus.value);
        }
    }

      $(document).ready(function(){

        $('.email').bind('cut copy paste', function(event){event.preventDefault();}); 
        $('.confirmarEmail').bind('cut copy paste', function(event){event.preventDefault();}); 
          $('.dataNascimento').mask('00/00/0000', {placeholder: "DD-MM-AAAA"});
        $('.cpf').mask('000.000.000-00');
        $('.rg').mask('000000000000');
        $('.orgaoEmissor').mask('AAAAA');
        $('.uf').mask('AA');
        $('.dataEmissao').mask('00/00/0000', {placeholder: "DD/MM/AAAA"});
        $('.anoConclusao').mask('00/0000', {placeholder: "MM/AAAA"});
        $('.second-anoConclusao').mask('00/0000', {placeholder: "MM/AAAA"});
        $('.celular').mask('(00) 0 0000-0000');
        $('.telefone').mask('(00) 0000-0000');
        $('.cep').mask('00000-000');
        $('.numero').mask('00000');
        $('.tempoExperiencia').mask('00');
        
        });

       function inscricao (){
        if ($('.processoSeletivo').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Escolha um processo seletivo.</div></div>');
            $('.processoSeletivo').focus();
            return false;
        }
        if ($('.curso').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Escolha um curso.</div></div>');
            $('.curso').focus();
            return false;
        }

        if ($('#nomeCompleto').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite seu nome.</div></div>');
            $('#nomeCompleto').focus();
            return false;
        }
        if ($('.dataNascimento').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite sua data de Nascimento.</div></div>');
            $('.dataNascimento').focus();
            return false;
        }
        if ($('.sexo').val() == '' ) {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Selecione seu sexo.</div></div>');
            $('.sexo').focus();
            return false;
        }
        if ($('.naturalidade').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Selecione sua Naturalidade.</div></div>');
            $('.naturalidade').focus();
            return false;
        }
        if ($('.nacionalidade').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Selecione sua Nacionalidade</div></div>');
            $('.nacionalidade').focus();
            return false;
        }
        if ($('.estadoCivil').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Escolha um estado Civil.</div></div>');
            $('.estadoCivil').focus();
            return false;
        }
        if ($('.cpf').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o seu CPF.</div></div>');
            $('.cpf').focus();
            return false;
        }
        if (!validarCPF($('.cpf').val())) {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">CPF inválido.</div></div>');
            $('.cpf').focus();
            return false;
        }
        if ($('.rg').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite seu RG.</div></div>');
            $('.rg').focus();
            return false;
        }
        if ($('.orgaoEmisor').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe o Orgão Emissor.</div></div>');
            $('.orgaoEmisor').focus();
            return false;
        }
        if ($('.uf').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o  UF.</div></div>');
            $('.uf').focus();
            return false;
        }
        if ($('.dataEmissao').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite a Data de Emissão.</div></div>');
            $('.dataEmissao').focus();
            return false;
        }
         if ($('.email').val() == '') {
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o seu Email.</div></div>');
            $('.email').focus();
            return false;
        }
        if (!validateEmail($('.email').val())){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Email incorreto.<br> Ex: ibmec@aluno.com </div></div>');
            $('.email').focus();
            return false;
        }
        if ($('.confirmarEmail').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Confirme o seu Email.</div></div>');
            $('.confirmarEmail').focus();
            return false;
        }
        if ($('.email').val() != $('.confirmarEmail').val()){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Os Emails não são compatíveis.</div></div>');
            $('.email').focus();
            return false;
        }
        if ($('.celular').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o seu celular.</div></div>');
            $('.celular').focus();
            return false;
        }
        if ($('.telefone').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o seu telefone.</div></div>');
            $('.telefone').focus();
            return false;
        }
        if ($('.cep').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Digite o seu CEP.</div></div>');
            $('.cep').focus();
            return false;
        }
        if ($('.cidade').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe sua cidade.</div></div>');
            $('.cidade').focus();
            return false;
        }

        if ($('estado').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe seu estado.</div></div>');
            $('estado').focus();
            return false;
        }
        if ($('.bairro').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe seu bairro.</div></div>');
            $('.bairro').focus();
            return false;
        }
        if ($('rua').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe sua rua.</div></div>');
            $('rua').focus();
            return false;
        }
        if ($('numero').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe o número.</div></div>');
            $('numero').focus();
            return false;
        }


        if ($('escolaridade').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe sua escolaridade.</div></div>');
            $('escolaridade').focus();
            return false;
        }
        if ($('nomeIES').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe a Instituição.</div></div>');
            $('nomeIES').focus();
            return false;
        }
        if ($('formacaoCurso').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe o Curso.</div></div>');
            $('formacaoCurso').focus();
            return false;
        }
        if ($('anoConclusao').val() == ''){
            generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Informe o Ano de Conclusão.</div></div>');
            $('anoConclusao').focus();
            return false;
        }
        var field = document.getElementById('nomeCompleto').value;
        var nomeCompleto = field.split(' ', 6);
        var nome; var sobrenome="";
        var tamanhoNome = nomeCompleto.length;
        if(tamanhoNome>0){
            nome = nomeCompleto[0];
           for(var i=1;i<=tamanhoNome-1;i++)
               sobrenome += nomeCompleto[i]+" "; 
        }
        
         document.getElementById('{!$Component.form.nome}').value = nome;
         document.getElementById('{!$Component.form.sobrenome}').value = sobrenome;
         var btn = document.getElementById('start');
         btn.value = "Aguarde...";
         btn.style.pointerEvents = 'none';
         btn.disabled;
        
        cSaveAll();

        
      }


    function validateEmail(Email) {
       var pattern = /^([\w-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([\w-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$/;

       return $.trim(Email).match(pattern) ? true : false;
    }
    function validarCPF(cpf) {
       cpf = cpf.replace(/[^\d]+/g, '');
       if (cpf == "") {
           alert("Preencha o CPF");
           return false;
       }
       if (cpf.length != 11 || cpf == "00000000000" || cpf == "11111111111" || cpf == "22222222222" || cpf == "33333333333" || cpf == "44444444444" || cpf == "55555555555" || cpf == "66666666666" || cpf == "77777777777" || cpf == "88888888888" || cpf == "99999999999") {
           return false;
       }
       add = 0;
       for (i = 0; i < 9; i++)
           add += parseInt(cpf.charAt(i)) * (10 - i);
       rev = 11 - (add % 11);
       if (rev == 10 || rev == 11) rev = 0;
       if (rev != parseInt(cpf.charAt(9))) return false;
       add = 0;
       for (i = 0; i < 10; i++)
           add += parseInt(cpf.charAt(i)) * (11 - i);
       rev = 11 - (add % 11);
       if (rev == 10 || rev == 11) rev = 0;
       if (rev != parseInt(cpf.charAt(10))) return false;
       return true;

    }

   function limpa_formulário_cep() {$('.rua, .bairro, .cidade, .estado').val("");}  
   $('.cep').blur(function() {
       var cep = $(this).val().replace(/\D/g, '');
       if (cep != "") {
           var validacep = /^[0-9]{8}$/;
           if(validacep.test(cep)) {
               $('.rua, .bairro, .cidade, .estado').val("...");
               $.getJSON("//viacep.com.br/ws/"+ cep +"/json/?callback=?", function(dados) {
                   if (!("erro" in dados)) {
                       $('.rua').val(dados.logradouro);
                       $('.bairro').val(dados.bairro);
                       $('.cidade').val(dados.localidade);
                       $('.estado').val(dados.uf);
                   }
                   else {
                       limpa_formulário_cep();
                       generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">CEP não encontrado.</div></div>');
                   }
               });
           }
           else {
 
               limpa_formulário_cep();
               generate('error', '<div class="activity-item" style="text-align: left"><div class="activity">Formato de CEP inválido</div></div>');
           }
       } 
       else {
           limpa_formulário_cep();
       }
   });   
   </script>
      <apex:includeScript value="{!URLFOR($Resource.SolCorp,'ficha/js/bootstrap.min.js')}" />
   </body>
</apex:page>