<!--*******************************************************************
Author    :   Adílio Santos
Date      :   September 2016
Purpose   :   Page for Controlle Class SRM_InscricaoAlunoIbmecController
*******************************************************************-->
<apex:page language="pt-br" controller="SRM_InscricaoAlunoIbmecController" sidebar="false" showHeader="false" id="page1" tabStyle="Account" standardStylesheets="false" applyBodyTag="false" docType="html-5.0">

    <!-- Recursos da página -->
    <apex:stylesheet value="https://fonts.googleapis.com/css?family=PT+Sans+Narrow:400,700" />
    <apex:stylesheet value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <apex:stylesheet value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css" />
    <apex:stylesheet value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/css/bootstrap-datepicker.min.css" />
    <apex:stylesheet value="{!URLFOR($Resource.assetsfichadeinscricao,'assets/css/style-ficha.css')}" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" />
    <apex:includeScript value="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js" />
    <apex:includeScript value="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.12/jquery.mask.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/js/bootstrap-datepicker.min.js" />
    <apex:includeScript value="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.4/locales/bootstrap-datepicker.pt-BR.min.js" />

    <!-- Cabeçalho -->

    <head>
        <title>Inscrição Processo Seletivo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <apex:variable var="v" value="v" rendered="{!IF((formInsc=='processoSeletivo' && $CurrentPage.parameters.instId != NULL), true, false)}">
            <script>
                var dataLayer = [{
                    'step': 'SELECAO_PROCESSO',
                    'step_data': {
                        'instituicaoId': '$CurrentPage.parameters.instId'
                    }
                }];
            </script>
        </apex:variable>
        <apex:variable var="v" value="v" rendered="{!IF( formInsc=='formulario', true, false)}">
            <script>
                var dataLayer = [{
                    'step': 'FICHA_INSCRICAO',
                    'step_data': {
                        'instituicaoNome': '{!processoSeletivoSelecionado.Nome_da_IES__c}',
                        'instituicaoCampusNome': '{!processoSeletivoSelecionado.Campus__r.Name}',
                        'tipoMatricula': '{!processoSeletivoSelecionado.Tipo_de_Matr_cula__c}',
                        'processoId': '{!processoSeletivoSelecionado.Id}',
                        'processoNome': '{!processoSeletivoSelecionado.Name}'
                    }
                }];
            </script>
        </apex:variable>
    </head>

    <!-- Corpo -->

    <body class="inscricao-graduacao">
        <!-- Google Tag Manager Ibmec Educacional -->
        <noscript>
            <iframe src="//www.googletagmanager.com/ns.html?id=GTM-NX8BL3" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
        <script>
            (function(w, d, s, l, i) {
                w[l] = w[l] || [];
                w[l].push({
                    'gtm.start': new Date().getTime(),
                    event: 'gtm.js'
                });
                var f = d.getElementsByTagName(s)[0],
                    j = d.createElement(s),
                    dl = l != 'dataLayer' ? '&l=' + l : '';
                j.async = true;
                j.src =
                    '//www.googletagmanager.com/gtm.js?id=' + i + dl;
                f.parentNode.insertBefore(j, f);
            })(window, document, 'script', 'dataLayer', 'GTM-NX8BL3');
        </script>
        <!-- End Google Tag Manager -->
        <div class="container">
            <header class="page-header">
                <h1 class="text-center">
                    <!--<img src="https://847a007f472fc3dfff789da096e264920ba2b3bf-www.googledrive.com/host/0B4szfMXbZQanflJLbGV2MEgyOEZTVVhscktJUTA1X1Q0bmtpSDVvRDV4dkJsaVRQTldPNzg/custom-css-devrybrasil/images/logo_ibmec_2x.png" alt="Ibmec" width="260" />-->
                    <img src="{!URLFOR($Resource.assetsfichadeinscricao,'assets/logo_ibmec_2x.png')}" alt="Ibmec" width="260" />
                </h1>
            </header>
            <div class="row">
                <div class="panel panel-primary">
                    <div class="panel-body">
                        <apex:pageBlock rendered="{!IF( formInsc=='processoSeletivo', true, false)}">
                            <!-- Selecione o processo seletivo -->
                            <div class="col-md-12">
                                <h1 class="text-center">Selecione o processo seletivo</h1>
                                <apex:form id="formularioSelecaoProcesso">
                                    <!-- lista de processos seletivos -->
                                    <div class="lista-processo row">
                                        <div class="col-md-12">
                                            <div class="row">
                                                <apex:repeat value="{!processoSeletivoList}" var="processoSeletivo">
                                                    <apex:outputPanel layout="block" styleClass="col-sm-4 col-xs-12" rendered="{!IF($CurrentPage.parameters.tipoMatricula == NULL || ($CurrentPage.parameters.tipoMatricula != NULL && $CurrentPage.parameters.tipoMatricula == processoSeletivo.Tipo_de_Matr_cula__c ),true,false)}">
                                                        <div class="panel panel-default">
                                                            <div class="panel-heading">
                                                                <h3 class="panel-title text-center"><strong>{!processoSeletivo.Nome_da_IES__c}</strong> {!processoSeletivo.Tipo_de_Matr_cula__c} </h3>
                                                            </div>
                                                            <div class="panel-body">
                                                                <apex:variable var="v" value="v" rendered="{!IF( $CurrentPage.parameters.exibirId != NULL, true, false )}">
                                                                    <p>{!processoSeletivo.Id}</p>
                                                                </apex:variable>
                                                                <p>Campus: <strong>{!processoSeletivo.Campus__r.Name}</strong></p>
                                                                <apex:commandLink styleClass="btn btn-primary btn-lg btn-block" value="Clique e inscreva-se" title="Clique e inscreva-se" action="{!createInscricao}">
                                                                    <apex:param name="processoSeletivoId" value="{!processoSeletivo.Id}" />
                                                                </apex:commandLink>
                                                            </div>
                                                        </div>
                                                    </apex:outputPanel>
                                                </apex:repeat>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <!-- Consultar Inscrição -->
                                            <div class="panel panel-default">
                                                <div class="panel-body">
                                                    <div class="row">
                                                        <div class="col-md-6 text-center">
                                                            <br/>
                                                            <h2>Já se inscreveu?</h2>
                                                            <p>Consulte a sua inscrição</p>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <apex:inputText html-placeholder="Digite seu CPF" styleClass="form-control mask-cpf" value="{!pesquisa.valorPesquisa}" />
                                                            </div>
                                                            <div class="form-group">
                                                                <apex:commandButton styleClass="btn btn-primary btn-block" id="btnSearch" value="Consultar inscrição" title="Consultar inscrição" action="{!pesquisa.consultaInscricoes}" reRender="formularioSelecaoProcesso" />
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <apex:pageBlockTable style="width:100%" value="{!pesquisa.inscricoes}" var="inscricao" rendered="{!IF(pesquisa.inscricoes==null || pesquisa.inscricoes.size==0, false, true)}">
                                                        <apex:column >
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    <table class="table table-bordered">
                                                                        <tbody>
                                                                            <tr>
                                                                                <th>Instituição de ensino</th>
                                                                                <td>{!inscricao.instituicaoEnsino}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Candidato</th>
                                                                                <td>{!inscricao.candidato}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Processo seletivo</th>
                                                                                <td>{!inscricao.processoSeletivo}</td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Data do vestibular</th>
                                                                                <td>
                                                                                    <apex:outputText value="{0, date, dd'/'MM'/'yyyy}">
                                                                                        <apex:param value="{!inscricao.dataProva}" />
                                                                                    </apex:outputText>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Status da inscrição</th>
                                                                                <td>{!inscricao.status}
                                                                                    <apex:outputLabel value=" (Aguardando Confirmação de Pagamento pela Operadora)" rendered="{!inscricao.isAguardandoConfirm}" />
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <th>Local de prova</th>
                                                                                <!--<td><apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Cidade_onde_realizar_a_prova__c}" /></td>-->
                                                                                <td>{!inscricao.localProva}</td>
                                                                            </tr>
                                                                            <tr style="{!IF((inscricao.tipoMatricula == 'Vestibular Especial'||inscricao.tipoMatricula == 'Vestibular Tradicional')&& inscricao.status == 'Aprovado'||inscricao.status == 'APROVADO PRIMEIRA FASE' ,'','display: none;')}">
                                                                                <th>Resultado Vestibular:</th>
                                                                                <th><a href="http://acompanhamentovestibular.ibmec.com.br/Login/resultvest" class="btn btn-primary">Resultado Vestibular</a></th>
                                                                            </tr>
                                                                            <tr style="{!IF(inscricao.status == 'Pré-Inscrito' ,'','display: none;')}">
                                                                                <th>Opções</th>
                                                                                <td>
                                                                                    <apex:commandLink value="Efetuar pagamento" styleClass="btn btn-primary" title="Efetuar pagamento" action="{!pesquisa.efetuarPagamento}" rendered="{!inscricao.isPagamento}">
                                                                                        <apex:param id="opportunityId" name="opportunityId" value="{!inscricao.opportunityId}" />
                                                                                    </apex:commandLink>
                                                                                    <apex:commandLink value="2° via boleto" styleClass="btn btn-primary" title="2° via boleto" action="{!pesquisa.segundaViaBoleto}" rendered="{!inscricao.is2ViaBoleto}">
                                                                                        <apex:param id="tituloAbertoId" name="tituloAbertoId" value="{!inscricao.tituloAbertoId}" />
                                                                                    </apex:commandLink>
                                                                                </td>
                                                                            </tr>
                                                                            
                                                                            <tr style="{!IF((inscricao.status == 'Aprovado'||inscricao.status == 'Aprovado primeira fase') && inscricao.instituicaoEnsino=='Ibmec Educacional' ,'','display: none;')}">
                                                                                <th>Agendar Entrevista</th>
                                                                                <th>
                                                                                    <input type="buton" class="btn btn-primary" value="Ambiente de Agendamento" onclick="SendAgenda('{!inscricao.candidato}','{!inscricao.cpf}','{!inscricao.instituicaoEnsino}','{!inscricao.email}','{!inscricao.campus}','{!inscricao.processoSeletivo}','{!inscricao.Oferta}','{!inscricao.status}','{!inscricao.CodigoProcessoCandidato}')" />
                                                                                </th>
                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </apex:column>
                                                    </apex:pageBlockTable>
                                                </div>
                                            </div>
                                            <!--\Consultar Inscrição -->
                                        </div>
                                    </div>
                                </apex:form>
                            </div>
                        </apex:pageBlock>
                        <apex:pageBlock id="blockFormulario" rendered="{!IF(formInsc == 'formulario', true, false)}">
                            <div class="col-md-3">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        Informações
                                    </div>
                                    <div class="panel-body">
                                        <p>
                                            Instituição
                                            <br/>
                                            <strong>{!processoSeletivoSelecionado.Nome_da_IES__c}</strong>
                                        </p>
                                        <p>
                                            Campus
                                            <br/>
                                            <strong>{!processoSeletivoSelecionado.Campus__r.Name}</strong>
                                        </p>
                                        <p>
                                            Tipo de processo
                                            <br/>
                                            <apex:pageBlock rendered="{!IF(processoSeletivoSelecionado.Tipo_de_Matr_cula__c != 'IB', true, false)}">
                                                <strong>{!processoSeletivoSelecionado.Tipo_de_Matr_cula__c}</strong>
                                            </apex:pageBlock>
                                            <apex:pageBlock rendered="{!IF(processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'IB', true, false)}">
                                                <strong>Processos Internacionais</strong>
                                            </apex:pageBlock>
                                        </p>
                                        <!--<p>
                                            User da Ficha<br />
                                            <strong>{!$User.Id}</strong>
                                        </p>-->
                                    </div>
                                </div>
                                <p><em>Campos com <strong class="text-danger">asterisco*</strong> são obrigatórios</em></p>
                            </div>
                            <div class="col-md-9">
                                <apex:form id="formularioInscricaoVestibular">
                                    <apex:outputPanel id="panel-info">
                                        <apex:messages styleClass="info-content" />
                                    </apex:outputPanel>
                                    <section class="form-section">
                                        <h3>Seleção de curso</h3>
                                        <div class="form-section-content">
                                            <div class="row">
                                                <div class="form-group col-md-6 required">
                                                    <apex:outputLabel value="Primeira opção de curso" for="opcaoCurso1" />
                                                    <apex:selectList id="opcaoCurso1" size="1" styleClass="form-control" value="{!accountToInsert.Z1_opcao_curso__c}">
                                                        <apex:selectOption itemValue="" ItemLabel="Selecione..." />
                                                        <apex:selectOptions value="{!opcaoCurso1List}" />
                                                    </apex:selectList>
                                                </div>
                                                <div class="form-group col-md-6">
                                                    <apex:outputLabel value="Segunda opção de curso" for="opcaoCurso2" />
                                                    <apex:selectList id="opcaoCurso2" size="1" styleClass="form-control" value="{!accountToInsert.Z2_opcao_curso__c}">
                                                        <apex:selectOption itemValue="" ItemLabel="Selecione..." />
                                                        <apex:selectOptions value="{!opcaoCurso2List}" />
                                                    </apex:selectList>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <!--<apex:outputPanel layout="block" rendered="{!IF((processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Transferência Externa' || processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Portador de Diploma'), false, true)}">-->

                                    <apex:pageBlock rendered="{!IF(processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'ENEM', true, false)}">
                                        <!-- 
                                    <apex:pageBlock >
                                    -->
                                        <section class="form-section">
                                            <h3>Utilizar nota do ENEM</h3>
                                            <div class="form-section-content">
                                                <div class="row">
                                                    <div class="col-md-4 form-group required">
                                                        <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.FezProvaENEM__c.Label}" for="utilizarENEM" />
                                                        <apex:selectList id="utilizarENEM" size="1" styleClass="form-control" value="{!fezEnemString}">
                                                            <apex:selectOption itemValue="" itemLabel="Selecione..." />
                                                            <apex:selectOptions value="{!fezEnem}" />
                                                        </apex:selectList>

                                                        <!--<apex:inputText id="utilizarENEM" styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.FezProvaENEM__c.Label}" value="{!fezEnem}" required="true"/>-->
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.AnoProvaENEM__c.Label}" for="enem_ano" />
                                                        <apex:inputText styleClass="form-control mask-4digits" id="enem_ano" label="{!$ObjectType.Opportunity.Fields.AnoProvaENEM__c.Label}" value="{!anoEnem}" />
                                                    </div>
                                                    <div class="col-md-4 form-group">
                                                        <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.QualNotaMediaENEM__c.Label}" for="enem_nota" />
                                                        <apex:inputText styleClass="form-control mask-3digits" id="enem_nota" label="{!$ObjectType.Opportunity.Fields.QualNotaMediaENEM__c.Label}" value="{!notaEnem}" />
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </apex:pageBlock>

                                    <!--</apex:outputPanel>-->

                                    <apex:pageBlock rendered="{!IF(processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'IB', true, false)}">
                                        <section class="form-section">
                                            <h3>Informações do processo</h3>
                                            <div class="form-section-content">
                                                <div class="row">
                                                    <div class="form-group col-md-6">
                                                        <apex:outputLabel value="Tipo de Nota" for="selectTipoNota" />
                                                        <apex:inputField styleClass="form-control" id="selectTipoNota" label="{!$ObjectType.Opportunity.Fields.Tipo_de_Nota__c.Label}" value="{!opportunityToInsert.Tipo_de_Nota__c}" required="true" />
                                                    </div>
                                                    <div class="form-group col-md-6">
                                                        <apex:outputLabel value="Nota Média" for="NotaEnem" />
                                                        <apex:inputField styleClass="form-control" id="selectNotaEnem" label="{!$ObjectType.Opportunity.Fields.Nota_Processo_Internacional__c.Label}" value="{!opportunityToInsert.Nota_Processo_Internacional__c}" required="true" />
                                                    </div>
                                                </div>
                                            </div>
                                        </section>
                                    </apex:pageBlock>

                                    <section class="form-section">
                                        <h3>Informações pessoais</h3>
                                        <div class="form-section-content">
                                            <div class="row">
                                                <div class="col-md-6 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.LastName.Label}" for="personLname" />
                                                    <apex:inputText id="personLname" styleClass="form-control" label="{!$ObjectType.Account.Fields.LastName.Label}" value="{!accountToInsert.LastName}" required="true" />
                                                </div>
                                                <div class="col-md-3 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.DataNascimento__c.Label}" for="user_brithdate" />
                                                    <apex:inputField styleClass="form-control datepicker mask-date" id="user_brithdate" label="{!$ObjectType.Account.Fields.DataNascimento__c.Label}" value="{!accountToInsert.DataNascimento__c}" required="true" />
                                                </div>
                                                <div class="col-md-3 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Sexo__c.Label}" for="user_gender" />
                                                    <apex:inputField styleClass="form-control" id="user_gender" label="{!$ObjectType.Account.Fields.Sexo__c.Label}" value="{!accountToInsert.Sexo__c}" required="true" />
                                                </div>
                                                <div class="col-md-6 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.estrangeiro__c.Label}" for="txtEstrangeiro" />
                                                    <apex:inputField id="txtEstrangeiro" styleClass="form-control" onchange="EnableDisablePassport();" label="{!$ObjectType.Opportunity.Fields.estrangeiro__c.Label}" value="{!opportunityToInsert.estrangeiro__c}" required="true" />
                                                </div>
                                                <div class="col-md-3 form-group">
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Passaporte__c.Label}" for="txtPassport" />
                                                    <apex:inputField id="txtPassport" styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Passaporte__c.Label}" value="{!opportunityToInsert.Passaporte__c}" />
                                                </div>
                                                <div class="col-md-3 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Nacionalidade__c.Label}" for="user_nacionalidade" />
                                                    <apex:inputField styleClass="form-control" id="user_nacionalidade" label="{!$ObjectType.Account.Fields.Nacionalidade__c.Label}" value="{!accountToInsert.Nacionalidade__c}" required="true" />
                                                </div>
                                                <div class="col-md-6 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.CPF_2__c.Label}" for="user_cpf" id="lbl_user_cpf" />
                                                    <apex:inputField styleClass="form-control mask-cpf" id="user_cpf" label="{!$ObjectType.Account.Fields.CPF_2__c.Label}" value="{!accountToInsert.CPF_2__c}" required="true" />
                                                </div>
                                                <div class="col-md-6 form-group">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Cor_Ra_a__c.Label}" for="etnia" />
                                                    <apex:inputField styleClass="form-control" id="etnia" label="{!$ObjectType.Account.Fields.Cor_Ra_a__c.Label}" value="{!accountToInsert.Cor_Ra_a__c}" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Nome_da_Mae__c.Label}" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Nome_da_Mae__c.Label}" value="{!opportunityToInsert.Nome_da_Mae__c}" required="true" />
                                                </div>
                                                <div class="col-md-4 form-group required">
                                                    <apex:outputLabel value="✆ - {!$ObjectType.Opportunity.Fields.telefone_mae__c.Label}" />
                                                    <apex:inputField styleClass="form-control mask-celphone" label="{!$ObjectType.Opportunity.Fields.telefone_mae__c.Label}" value="{!opportunityToInsert.telefone_mae__c}" required="true" />
                                                </div>
                                                <div class="col-md-4 form-group required">
                                                    <apex:outputLabel value="✉ - {!$ObjectType.Opportunity.Fields.Email_Mae__c.Label}" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Email_Mae__c.Label}" value="{!opportunityToInsert.Email_Mae__c}" required="true" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4 form-group">
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Nome_do_pai__c.Label}" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Nome_do_pai__c.Label}" value="{!opportunityToInsert.Nome_do_pai__c}" />
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <apex:outputLabel value="✆ - {!$ObjectType.Opportunity.Fields.telefone_Pai__c.Label}" />
                                                    <apex:inputField styleClass="form-control mask-celphone" label="{!$ObjectType.Opportunity.Fields.telefone_Pai__c.Label}" value="{!opportunityToInsert.telefone_Pai__c}" />
                                                </div>
                                                <div class="col-md-4 form-group">
                                                    <apex:outputLabel value="✉ - {!$ObjectType.Opportunity.Fields.Email_Pai__c.Label}" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Email_Pai__c.Label}" value="{!opportunityToInsert.Email_Pai__c}" />
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="form-section">
                                        <h3>Informações de contato</h3>
                                        <div class="form-section-content">
                                            <div class="row">
                                                <div class="col-md-4 form-group required">
                                                    <!-- Email -->
                                                    <apex:outputLabel value="✉ - {!$ObjectType.Account.Fields.PersonEmail.Label}" for="user_email" />
                                                    <apex:inputField id="user_email" styleClass="form-control" label="{!$ObjectType.Account.Fields.PersonEmail.Label}" value="{!accountToInsert.PersonEmail}" required="true" />
                                                </div>
                                                <div class="col-md-4 form-group required">
                                                    <!-- Telefone -->
                                                    <apex:outputLabel value="☏ - Telefone" for="user_phone" />
                                                    <apex:inputField styleClass="form-control mask-celphone" id="user_phone" label="{!$ObjectType.Account.Fields.Phone.Label}" value="{!accountToInsert.Phone}" required="true" />
                                                </div>
                                                <div class="col-md-4 form-group required">
                                                    <!-- Celular -->
                                                    <apex:outputLabel value="✆ - {!$ObjectType.Account.Fields.PersonMobilePhone.Label}" for="user_celphone" />
                                                    <apex:inputField styleClass="form-control mask-celphone" id="user_celphone" label="{!$ObjectType.Account.Fields.PersonMobilePhone.Label}" value="{!accountToInsert.PersonMobilePhone}" required="true" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="form-group col-md-4 required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.CEP__c.Label}" for="cep" /> - <a href="http://www.buscacep.correios.com.br/sistemas/buscacep/" target="_blank" title="Consultar CEP no site dos Correios">Consultar CEP</a>
                                                    <apex:actionRegion >
                                                        <apex:inputField styleClass="form-control" id="cep" value="{!accountToInsert.CEP__c}" required="true">
                                                            <apex:actionSupport event="onchange" action="{!atualizaEndereco}" reRender="rua, bairro, cidade, estado" status="actStatusId" />
                                                        </apex:inputField>
                                                        <apex:actionStatus id="actStatusId">
                                                            <apex:facet name="start"> <img src="/img/loading.gif" /></apex:facet>
                                                        </apex:actionStatus>
                                                    </apex:actionRegion>
                                                </div>
                                                <div class="form-group col-md-4 required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Cidade__c.Label}" for="cidade" />
                                                    <apex:inputField styleClass="form-control" id="cidade" label="{!$ObjectType.Account.Fields.Cidade__c.Label}" value="{!accountToInsert.Cidade__c}" required="true" />
                                                </div>
                                                <div class="form-group col-md-4 required">
                                                    <apex:outputLabel value="{!$ObjectType.Account.Fields.Estado__c.Label}" for="estado" />
                                                    <apex:inputField styleClass="form-control" id="estado" label="{!$ObjectType.Account.Fields.Estado__c.Label}" value="{!accountToInsert.Estado__c}" required="true" />
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row">
                                                        <div class="form-group col-md-12 required">
                                                            <apex:outputLabel value="{!$ObjectType.Account.Fields.Rua__c.Label}" for="rua" />
                                                            <apex:inputField styleClass="form-control" id="rua" label="{!$ObjectType.Account.Fields.Rua__c.Label}" value="{!accountToInsert.Rua__c}" required="true" />
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-8">
                                                    <div class="row">
                                                        <div class="form-group col-md-6 required">
                                                            <apex:outputLabel value="{!$ObjectType.Account.Fields.N_mero__c.Label}" for="endereco_numero" />
                                                            <apex:inputField styleClass="form-control" id="endereco_numero" label="{!$ObjectType.Account.Fields.N_mero__c.Label}" value="{!accountToInsert.N_mero__c}" required="true" />
                                                        </div>
                                                        <div class="form-group col-md-6 required">
                                                            <apex:outputLabel value="{!$ObjectType.Account.Fields.Bairro__c.Label}" for="bairro" />
                                                            <apex:inputField styleClass="form-control" id="bairro" label="{!$ObjectType.Account.Fields.Bairro__c.Label}" value="{!accountToInsert.Bairro__c}" required="true" />
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <apex:outputLabel value="{!$ObjectType.Account.Fields.Complemento__c.Label}" for="endereco_complemento" />
                                                            <apex:inputField styleClass="form-control" id="endereco_complemento" label="{!$ObjectType.Account.Fields.Complemento__c.Label}" value="{!accountToInsert.Complemento__c}" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="form-section">
                                        <h3>Informações adicionais</h3>
                                        <div class="form-section-content">
                                            <div class="row">
                                                <apex:pageBlock rendered="{!IF( processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Vestibular Tradicional', true, false)}">
                                                    <div class="col-md-6 form-group required">
                                                        <apex:outputLabel value="Está fazendo essa prova como treino?" for="treineiro" />
                                                        <apex:inputField id="treineiro" styleClass="form-control" html-title="Está fazendo essa prova como treino?" label="{!$ObjectType.Opportunity.Fields.Treineiro__c.Label}" value="{!opportunityToInsert.Treineiro__c}" required="true" />
                                                    </div>
                                                </apex:pageBlock>
                                                <apex:pageBlock rendered="{!IF( qndIngressar!=null && processoSeletivoSelecionado.Verifica_Periodo_de_ingresso__c, true, false)}">
                                                    <div class="col-md-6 form-group required">
                                                        <!--
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Quando_deseja_ingressar__c.Label}"/>
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Quando_deseja_ingressar__c.Label}" value="{!opportunityToInsert.Quando_deseja_ingressar__c}" required="true"/>
                                                    -->
                                                        <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Quando_deseja_ingressar__c.Label}" />
                                                        <apex:selectList size="1" styleClass="form-control" value="{!opportunityToInsert.Quando_deseja_ingressar__c}">
                                                            <apex:selectOption itemValue="" ItemLabel="Selecione..." />
                                                            <apex:selectOptions value="{!qndIngressar}" />
                                                        </apex:selectList>
                                                    </div>
                                                </apex:pageBlock>
                                                <div class="col-md-6 form-group required">
                                                    <apex:outputLabel value="Tipo de escola que cursa ou cursou ensino médio" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Account.Fields.Tipo_escola_cursa_ou_cursou_ensino_medio__c.Label}" value="{!accountToInsert.Tipo_escola_cursa_ou_cursou_ensino_medio__c}" required="true" />
                                                </div>
                                                <div class="col-md-6 form-group required">
                                                    <apex:outputLabel value="Qual escola você estuda ou estudou o ensino médio?" for="nomeColegio" />
                                                    <apex:inputText id="nomeColegio" styleClass="form-control" value="{!nomeColegio}" required="true" />
                                                    <apex:inputHidden id="idColegio" value="{!idColegio}" />
                                                </div>
                                                <apex:pageBlock rendered="{!IF((processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Transferência Externa') || (processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Portador de Diploma'), true, false)}">
                                                    <div class="col-md-6 form-group required">
                                                        <apex:outputLabel value="Para 2ª graduação ou transferência: Qual foi a última instituição?" />
                                                        <apex:inputText styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.IES_que_realizou_a_gradua_o_anterior__c.Label}" value="{!opportunityToInsert.IES_que_realizou_a_gradua_o_anterior__c}" required="true" />
                                                    </div>
                                                    <div class="col-md-6 form-group">
                                                        <apex:outputLabel value="Qual o curso?" />
                                                        <apex:inputText styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Graduado_no_curso_de__c.Label}" value="{!opportunityToInsert.Graduado_no_curso_de__c}" />
                                                    </div>
                                                </apex:pageBlock>
                                            </div>
                                            <!--<apex:outputPanel layout="block" styleClass="row" rendered="{!IF((processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Transferência Externa' || processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Portador de Diploma'), true, false)}">-->

                                            <!--</apex:outputPanel>-->

                                            <div class="row">
                                                <apex:pageBlock rendered="{!IF( processoSeletivoSelecionado.Campus__r.Id == 'a0PA000000FiNaoMAF', true, false)}">
                                                    <div class="col-md-6 form-group">
                                                        <apex:outputLabel value="Buscará algum tipo de financiamento ou bolsa? Qual?" />
                                                        <apex:inputText styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Interessado_Financiamento__c.Label}" value="{!opportunityToInsert.Interessado_Financiamento__c}" />
                                                    </div>
                                                </apex:pageBlock>

                                                <apex:pageBlock rendered="{!IF( processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Vestibular Tradicional' && processoSeletivoSelecionado.Verifica_cidade__c&& cidadesProva!=null, true, false)}">
                                                    <!--
                                                        <div class="col-md-6 form-group">
                                                           <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Cidade_onde_realizar_a_prova__c.Label}" for="cidadeOndeFaraProva"/>
                                                           <apex:inputField styleClass="form-control" id="cidadeOndeFaraProva" label="{!$ObjectType.Opportunity.Fields.Cidade_onde_realizar_a_prova__c.Label}" value="{!opportunityToInsert.Cidade_onde_realizar_a_prova__c}"/>
                                                        </div>  
                                                        -->
                                                    <div class="form-group col-md-6">
                                                        <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Cidade_onde_realizar_a_prova__c.Label}" for="cidadeOndeFaraProva" />
                                                        <apex:selectList size="1" styleClass="form-control" value="{!opportunityToInsert.Cidade_onde_realizar_a_prova__c}">
                                                            <apex:selectOption itemValue="" ItemLabel="Selecione..." />
                                                            <apex:selectOptions value="{!cidadesProva}" />
                                                        </apex:selectList>
                                                    </div>
                                                </apex:pageBlock>

                                                <apex:pageBlock rendered="{!IF( processoSeletivoSelecionado.Campus__r.Id <> 'a0PA000000FiNaoMAF', true, false)}">
                                                    <div class="col-md-12 form-group">
                                                        <apex:outputLabel value="Buscará algum tipo de financiamento ou bolsa? Qual?" />
                                                        <apex:inputText styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Interessado_Financiamento__c.Label}" value="{!opportunityToInsert.Interessado_Financiamento__c}" />
                                                    </div>
                                                </apex:pageBlock>
                                                <div class="col-md-12 form-group required">
                                                    <apex:outputLabel value="{!$ObjectType.Opportunity.Fields.Por_que_voc_escolheu_nossa_Institui_o__c.Label}" />
                                                    <apex:inputField styleClass="form-control" label="{!$ObjectType.Opportunity.Fields.Por_que_voc_escolheu_nossa_Institui_o__c.Label}" value="{!opportunityToInsert.Por_que_voc_escolheu_nossa_Institui_o__c}" required="true" />
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    <section class="form-section">
                                        <h3>Outras informações</h3>
                                        <div class="form-section-content">
                                            <div class="row">

                                                <apex:pageBlock rendered="{!IF( processoSeletivoSelecionado.Tipo_de_Matr_cula__c == 'Vestibular Tradicional', true, false)}">
                                                    <div class="col-md-6">
                                                        <div class="panel panel-default">

                                                            <div class="panel-body">

                                                                <div class="row">
                                                                    <div class="col-md-12 form-group required">
                                                                        <apex:outputLabel value="Possui necessidade especial?" />
                                                                        <apex:inputField id="txtAtencaoEspecial" styleClass="form-control input-sm" onchange="EnableDisableNeedsSpecialAttention();" label="{!$ObjectType.Account.Fields.E_portador_de_alguma_aten_o_especial__c.Label}" value="{!accountToInsert.E_portador_de_alguma_aten_o_especial__c}" required="true" />
                                                                    </div>
                                                                    <div class="col-md-12 form-group">
                                                                        <apex:outputLabel value="{!$ObjectType.Account.Fields.PrecisaAtendimentoEspecial__c.Label}" />
                                                                        <apex:inputField id="txtPrecisaAtencaoEspecial" styleClass="form-control input-sm" label="{!$ObjectType.Account.Fields.PrecisaAtendimentoEspecial__c.Label}" value="{!accountToInsert.PrecisaAtendimentoEspecial__c}" />
                                                                    </div>
                                                                </div>

                                                            </div>

                                                        </div>
                                                    </div>
                                                </apex:pageBlock>
                                                <apex:pageBlock rendered="{!IF(ISPICKVAL($User.UserType,'Guest'), false, true)}">
                                                    <div class="col-md-6">

                                                        <div class="panel panel-default">
                                                            <div class="panel-body">
                                                                <div class="row">
                                                                    <div class="col-md-12 form-group">
                                                                        <apex:outputLabel value="Código Escola Amiga" />
                                                                        <apex:inputText styleClass="form-control input-sm" value="{!codigoPromocional}" id="promocionalCode" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </apex:pageBlock>

                                            </div>
                                        </div>
                                    </section>
                                    <!--Anexo-->
                                    <!--
                                    <section class="form-section">
                                        <h3>Anexos</h3>
                                        <div class="form-section-content">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6 form-group required">
                                                                    <apex:outputLabel value="Diploma:"/>
                                                                    <apex:inputFile accept="jpeg, pdf" title="Faça o upload do seu diploma. Tipos de arquivos suportados: jpeg | pdf" filename="{!fileName1}" contentType="{!contentType1}" filesize="1000" size="50" value="{!resume1}" required="true"/>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="panel panel-default">
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-6 form-group required">
                                                                    <apex:outputLabel value="Carta de recomendação:"/>
                                                                    <apex:inputFile accept="jpeg, pdf" title="Faça o upload da carta de recomendação. Tipos de arquivos suportados: jpeg | pdf" filename="{!fileName2}" contentType="{!contentType2}" filesize="1000" size="50" value="{!resume2}" required="true"/>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </section>
                                    -->
                                    <section>
                                        <div>
                                            <apex:commandButton styleClass="btn btn-primary btn-lg btn-block" id="save" value="FINALIZAR INSCRIÇÃO" action="{!execute}" />
                                        </div>
                                    </section>
                                </apex:form>
                            </div>
                        </apex:pageBlock>
                    </div>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            function SendAgenda(nome, cpf, inst, email, campus, process, oferta, status, CodigoProcessoCandidato) {
                var formS = $('<form id="PostForm" name="PostForm"  method="POST"></form>');

                formS.append('<input type="hidden" name="Login" id="Login" />');
                formS.append('<input type= "hidden" name= "IdInstituicao"  id="IdInstituicao" >')
                formS.append('<input type= "hidden" name= "ProcessoSeletivo"  id="ProcessoSeletivo" >')
                formS.append('<input type="hidden" name="IdSede" id="IdSede" value="1"/>')
                formS.append('<input type="hidden" name="Email" id="Email" value="">')
                formS.append('<input type="hidden" name="Nome" id="Nome" value= "" >')
                formS.append('<input type="hidden" name="UrlOrigem" id="UrlOrigem" value= "" >')
                formS.append('<input type="hidden" name="idPerfil" id="idPerfil" value= "" >');
                formS.append('<input type="hidden" name="Oferta" id="Oferta" value= "" >');
                formS.append('<input type="hidden" name="campus" id="campus" value= "" >');
                formS.append('<input type="hidden" name="DescMantida" id="DescMantida" value= "" >');
                formS.append('<input type="hidden" name="CodigoProcessoCandidato" id="CodigoProcessoCandidato" value= "" >');
                formS.append('<input type="hidden" name="Tipologin" id="Tipologin" value= "" >');
                formS.append('<input type="hidden" name="Cpf" id="Cpf" />');

                $("body").append(formS);
                $('#CodigoProcessoCandidato').val(CodigoProcessoCandidato);
                $('#Login').val(cpf);
                $('#UrlOrigem').val(window.location.href);
                $('#ProcessoSeletivo').val(process);
                $('#idPerfil').val(9999);
                $('#DescMantida').val(inst);
                $('#campus').val(campus);
                $('#Oferta').val(oferta);
                $('#Email').val(email);
                $('#Nome').val(nome);
                $('#Cpf').val(cpf);
                $('#TipoLogin').val("Cadidato");
               //$('#PostForm').attr('action','http://localhost:58058/loginsales/index');
                $('#PostForm').attr('action','http://agendamento.devrybrasil.com.br/loginsales/index');
                $('#PostForm').submit();

            }

            function GetElementFullId(idEndsWith) {
                var objObj = $("[id$=" + idEndsWith + "]");
                return objObj.attr('id');
            }

            EnableDisablePassport();
            EnableDisableOutraIES();
            EnableDisableNeedsSpecialAttention();

            function EnableDisablePassport() {
                try {
                    var txtEstrangeiro = document.getElementById(GetElementFullId('txtEstrangeiro')).value;
                    var txtPassport = document.getElementById(GetElementFullId('txtPassport'));

                    if (txtEstrangeiro == 'Sim') {

                        txtPassport.disabled = false;
                        txtPassport.required = true;
                    } else {
                        txtPassport.disabled = true;
                        txtPassport.required = false;

                    }
                } catch (e) {
                    console.log(e);
                }
            }

            function EnableDisableOutraIES() {
                try {
                    var txtParticipandoDeProcessoEmOutraIES = document.getElementById(GetElementFullId('txtParticipandoDeProcessoEmOutraIES')).value;
                    var txtOutraIES = document.getElementById(GetElementFullId('txtOutraIES'));
                    if (txtParticipandoDeProcessoEmOutraIES != 'Sim') {
                        txtOutraIES.disabled = true;
                    } else {
                        txtOutraIES.disabled = false;
                    }
                } catch (e) {
                    console.log(e);
                }
            }

            function EnableDisableNeedsSpecialAttention() {
                try {
                    var txtAtencaoEspecial = document.getElementById(GetElementFullId('txtAtencaoEspecial')).value;
                    var txtPrecisaAtencaoEspecial = document.getElementById(GetElementFullId('txtPrecisaAtencaoEspecial'));
                    if (txtAtencaoEspecial == 'Não') {
                        txtPrecisaAtencaoEspecial.disabled = true;
                    } else {
                        txtPrecisaAtencaoEspecial.disabled = false;
                    }
                } catch (e) {
                    console.log(e);
                }
            }

            var temp;

            function formatar(mascara, documento) {
                var i = documento.value.length;
                if (temp <= i) {
                    var saida = mascara.substring(0, 1);
                    var texto = mascara.substring(i);
                    if (texto.substring(0, 1) != saida) {
                        documento.value += texto.substring(0, 1);
                    }
                }
                temp = i;
            }

            function formatarTipoPesquisa(documento) {
                tipoDocumento = document.getElementById(GetElementFullId('search')).value;
                if (tipoDocumento == 'Account.CPF_2__c') {
                    var mascara = '###.###.###-##';
                    var i = documento.value.length;
                    if (temp <= i) {
                        var saida = mascara.substring(0, 1);
                        var texto = mascara.substring(i);
                        if (texto.substring(0, 1) != saida) {
                            documento.value += texto.substring(0, 1);
                        }
                    }
                    temp = i;
                }
            }

            function Filtra1(campo) {
                var digits = "0123456789./- ";
                var campo_temp;
                for (var i = 0; i < campo.value.length; i++) {
                    campo_temp = campo.value.substring(i, i + 1);
                    if (digits.indexOf(campo_temp) == -1) {
                        campo.value = campo.value.substring(0, i);
                        break;
                    }
                }
            }

            $(function() {
                $('select').removeAttr('size');
                $('.form-group').each(function(i, e) {
                    if ($(e).find('.errorMsg').length != 0) $(e).addClass('has-error');
                });
            });

            (function($) {
                $(document).ready(function() {

                    var movieObjects,
                        queryTerm,
                        escolaDefault,
                        SPMaskBehavior,
                        spOptions;

                    //Marcas campos
                    $('.mask-cpf').mask('000.000.000-00');
                    $('.mask-date').mask('00/00/0000');
                    $('.mask-halfdate').mask('00/0000');
                    $('.mask-4digits').mask('0000');
                    $('.mask-3digits').mask('000');
                    $('.mask-phone').mask('(00) 0000-0000');
                    $('.mask-celphone').mask('(00) 00000-0000');

                    SPMaskBehavior = function(val) {
                        return val.replace(/\D/g, '').length === 11 ? '(00) 00000-0000' : '(00) 0000-00009';
                    };
                    spOptions = {
                        onKeyPress: function(val, e, field, options) {
                            field.mask(SPMaskBehavior.apply({}, arguments), options);
                        }
                    };
                    $('.mask-celphone9').mask(SPMaskBehavior, spOptions);

                    escolaDefault = {
                        Id: "",
                        Name: ""
                    };

                    //Autocompleet colégios 
                    $('[id$=nomeColegio]').autocomplete({
                        minLength: 2,
                        source: function(request, response) {
                            queryTerm = request.term;
                            SRM_InscricaoAlunoIbmecController.createColleges(request.term, function(result, event) {
                                if (event.type == 'exception') {
                                    //alert(event.message);
                                } else {
                                    movieObjects = result;
                                    movieObjects.push(escolaDefault);
                                    response(movieObjects);
                                }
                            });
                        },
                        focus: function(event, ui) {
                            $('[id$=nomeColegio]').val(ui.item.Name);
                            return false;
                        },
                        select: function(event, ui) {
                            $('[id$=nomeColegio]').val(ui.item.Name);
                            $('[id$=idColegio]').val(ui.item.Id);
                            return false;
                        },
                    }).data("ui-autocomplete")._renderItem = function(ul, item) {
                        var entry = "<a>" + item.Name;
                        entry = entry + "</a>";
                        entry = entry.replace(queryTerm, "<b>" + queryTerm + "</b>");
                        return $("<li></li>").data("ui-autocomplete-item", item).append(entry).appendTo(ul);
                    };

                    /* Disable default datepicker */
                    $('.datepicker').each(function() {
                        // Clear the DOM element onfocus
                        this.onfocus = null;
                    });

                    /* DATAPICKER */
                    $('.datepicker').datepicker({
                        'language': 'pt-BR'
                    });
                });
            }(jQuery))
        </script>
    </body>

</apex:page>